<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <v-list-item three-line link @click="employeeView=true">
        <v-list-item-avatar>
            <v-img v-if="employee.photo" :src="employee.photo"></v-img>
            <v-btn fab color="primary" v-else><v-icon>person</v-icon></v-btn>
        </v-list-item-avatar>
        <v-list-item-content>
            <v-list-item-title class="" color="primary">{{employee.firstName}} {{employee.lastName}}</v-list-item-title>
            <v-list-item-subtitle class="" color="primary">{{employee.position}}</v-list-item-subtitle>
            <v-list-item-subtitle class="" color="primary">Contract {{employee.contractStatus==1?'valid until':'expired on'}} {{employee.contractDurationDate}}</v-list-item-subtitle>
        </v-list-item-content>
        <v-dialog v-model="employeeView" max-width="500px">
            <v-card>
                <v-img aspect-ratio="1" v-if="employee.photo"  :src="employee.photo"></v-img>
                <!--<div class="text-center">-->
                    <!--<v-avatar size="200">-->
                        <!---->
                    <!--</v-avatar>-->
                <!--</div>-->
                <v-card-title>
                    {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                </v-card-title>
                <v-card-subtitle>{{employee.position}}</v-card-subtitle>
                <v-card-text>
                    <v-list >
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>{{employee.nationalIdNumber}}</v-list-item-title>
                                <v-list-item-subtitle>National Id Number</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>{{employee.email}}</v-list-item-title>
                                <v-list-item-subtitle>Email</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>+265 {{employee.phoneNumberMobile}}</v-list-item-title>
                                <v-list-item-subtitle>Phone Number Mobile</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>+265 {{employee.phoneNumberWork}}</v-list-item-title>
                                <v-list-item-subtitle>Phone Number Work</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>{{employee.physicalAddress.name}} P. O. Box {{employee.physicalAddress.box}} {{employee.physicalAddress.location}}</v-list-item-title>
                                <v-list-item-subtitle>Physical Address</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>{{employee.workAddress.name}} P. O. Box {{employee.workAddress.box}} {{employee.workAddress.location}}</v-list-item-title>
                                <v-list-item-subtitle>Work Address</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>{{employee.contractDurationDate}}</v-list-item-title>
                                <v-list-item-subtitle>Contract Expiry Date</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card-text>
                <v-card-actions>
                    <v-btn fab small text :to="{name:'update-employee',params:{id:employee.id}}"><v-icon>edit</v-icon></v-btn>
                    <v-btn fab small text @click="employeeDelete=true"><v-icon>delete</v-icon></v-btn>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="employeeView=false">Close</v-btn>
                </v-card-actions>

            </v-card>
        </v-dialog>
        <v-dialog v-model="employeeDelete" max-width="300px">
            <v-card >
                <v-card-title class="headline">Delete employee</v-card-title>
                <v-card-text>Are you sure you want to proceed?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" class="elevation-0" @click="deleteEmployee">Delete</v-btn>
                    <v-btn text color="primary" @click="employeeDelete=false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-list-item>
</template>

<script>


    export default {
        props:['employee'],
        data: () => ({
            employeeView:false,
            employeeDelete:false,
        }),
        components: {

        },
        created(){

        },
        mounted(){

        },
        computed: {

        },
        watch: {
        },
        methods:{
            deleteEmployee(){
                this.employeeDelete=false;
                this.$store.dispatch('destroyEmployee',{
                    id:this.employee.id,
                    accessToken:this.$store.getters.getAccessToken
                })
            }

        }

    }
</script>