<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">
    #homepage{
        nav {
            padding:20px;
            /*box-shadow:0 2px 3px rgba(0,0,0,0.15);*/
            border-bottom:0.5px solid rgba(0,0,0,0.15);

            .logo_image{
                height: 35px;
                float: left;
            }

            .logo_title{
                /*float: left;*/
                font-weight: bolder;
                padding: 0 0 0 80px;
                margin: 0;
                font-size: 16pt;

            }

            .profile_icon{
                float:right;
            }

        }
        header{
            padding: 120px 0;

        }
    }



    @media only screen and (min-width: 600px){
        #homepage{
        nav {


        .logo_image{
            height: 45px;
            float: left;
        }

        .logo_title{
            /*float: left;*/
            font-weight: bolder;
            padding: 0 0 0 100px;
            margin: 0;
            font-size: 18pt;

        }

    }
    header{
        padding: 120px 0;

    }
    }

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div id="homepage">
        <div >
            <nav>
                <router-link :to="{ name: 'home'}">
                    <img class="logo_image" src="images/logo.jpg" alt="">
                </router-link>
                <h1 class="logo_title">ZACHANGU</h1>
            </nav>
        </div>
        <header class=" text-center" style="background-color:white;">

            <div class="display-1" style="color:#3f3f3f;">Quick and reliable</div>
            <div class="grey--text">Apply for loans instantly</div>
            <v-btn class="elevation-0" color="primary" href="https://app.zachanguloans.com">Get Started</v-btn>
        </header>

        <section class="pa-5" style="background-color: #f2f2f2">
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12>
                        <v-card flat class="pa-5">
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 md6>
                                        <v-card-title class="headline">Contact us</v-card-title>
                                        <v-card-subtitle class="">We would like to hear from you</v-card-subtitle>
                                        <v-card-text>
                                            <v-container grid-list-md>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm6>
                                                        <v-text-field
                                                                v-model="name"
                                                                label="Full Name"
                                                                required
                                                                :rules="[rules.required]"
                                                                outlined
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6>
                                                        <v-text-field
                                                                v-model="email"
                                                                label="E-mail"
                                                                required
                                                                :rules="[rules.email,rules.required]"
                                                                outlined
                                                                clearable
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12>
                                                        <v-textarea
                                                                v-model="message"
                                                                label="Message"
                                                                outlined
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex xs12>
                                                        <v-btn color="primary" @click="sendMessage">Send Message</v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex xs12 md6>
                                        <v-card-text>
                                            <div class="grey--text">Contact information</div>
                                            <v-list>
                                                <v-list-item two-line>
                                                    <v-list-item-icon>
                                                        <v-icon>location_on</v-icon>
                                                    </v-list-item-icon>
                                                    <v-list-item-content>
                                                        <v-list-item-title>Address Name</v-list-item-title>
                                                        <v-list-item-subtitle>P. O. Box 123 Location</v-list-item-subtitle>
                                                    </v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-icon>
                                                        <v-icon>phone</v-icon>
                                                    </v-list-item-icon>
                                                    <v-list-item-content>
                                                        <v-list-item-title>+265 123 45 67 89</v-list-item-title>
                                                    </v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-icon> <v-icon>email</v-icon></v-list-item-icon>
                                                    <v-list-item-content>
                                                        <v-list-item-title>admin@zachanguloans.com</v-list-item-title>
                                                    </v-list-item-content>
                                                </v-list-item>
                                            </v-list>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                            </v-container>

                            <!--<v-divider></v-divider>-->

                        </v-card>
                    </v-flex>
                    <v-flex xs12>
                        <div class="pa-5">
                            <v-card-title class="headline">About us</v-card-title>
                            <!--<v-card-subtitle class=" grey&#45;&#45;text">Information you need to know</v-card-subtitle>-->
                            <v-card-text class="text-justify">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa cupiditate ea error esse facere facilis, illum ipsa laborum, molestias perferendis quasi quis? A neque obcaecati placeat quam repudiandae voluptate? </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa cupiditate ea error esse facere facilis, illum ipsa laborum, molestias perferendis quasi quis? A neque obcaecati placeat quam repudiandae voluptate? </p>
                            </v-card-text>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
        <footer class="text-center pa-5"  style="background-color:#3f3f3f; font-size:10pt; color: rgba(255,255,255,0.8)">
            <div class="grey--text">
                <v-icon color="#9e9e9e" dark>copyright</v-icon> ZACHANGU LOANS {{ new Date().getFullYear() }}
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        data: () => ({
            email:'',
            name:'',
            message:'',

            rules: {
                required: value => value!=='' || 'Cannot be empty',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                },
            },
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {

        },
        created(){


        },
        mounted(){

        },
        computed: {

        },
        watch: {


        },
        methods:{
            sendMessage(){
                this.$store.dispatch('feedback',{
                    email:this.email,
                    name:this.name,
                    message:this.message,
                })
            }
        }

    }
</script>