<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <v-card flat>
        <v-card-title class="headline">
            Create an account
        </v-card-title>
        <v-card-subtitle>
            Already have an account? <a class="underline" @click="$emit('toggleLogin')">Sign in</a>
        </v-card-subtitle>

        <v-container grid-list-md>
            <v-layout
                    wrap

            >
            <v-flex xs12 sm6>
                <v-text-field
                        v-model="firstName"
                        label="First Name"
                        required
                        :rules="[rules.required]"
                        outlined
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                        v-model="middleName"
                        label="Middle Name"
                        outlined
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                        v-model="lastName"
                        label="Last Name"
                        required
                        :rules="[rules.required]"
                        outlined
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                        v-model="nationalIdNumber"
                        label="National ID Number"
                        counter
                        required
                        :rules="[rules.required,rules.nationalIdNumber]"
                        maxlength="8"
                        outlined
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                        v-model="email"
                        label="E-mail"
                        required
                        prepend-inner-icon="email"
                        :rules="[rules.email,rules.required]"
                        outlined
                        clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                        v-model="password"
                        v-on:keyup.enter="register"
                        label="Password"
                        autocomplete="new-password"
                        :rules="[rules.password]"
                        required
                        outlined
                        :type="showPassword?'text':'password'"
                        :append-icon="showPassword?'visibility':'visibility_off'"
                        prepend-inner-icon="lock"
                        @click:append="showPassword=!showPassword"
                ></v-text-field>
            </v-flex>
            <v-flex
                    class="text-center"
                    v-if="userLoginStatus==1"
            >

                <v-progress-circular
                        indeterminate
                        color="primary"
                >
                </v-progress-circular>
            </v-flex>
            <v-flex xs12 v-else>
                <v-btn dark elevation="0" color="primary" :disabled="validation" @click="register">Register</v-btn>
            </v-flex>

            </v-layout>
        </v-container>

        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </v-card>
</template>

<script>


    export default {
        props:['employer'],
        data: () => ({
            firstName:'',
            middleName:'',
            lastName:'',
            email:'',
            nationalIdNumber:'',
            password:'',
            showPassword:false,
            rules: {
                required: value => value!=='' || 'Cannot be empty',
                password: value => (value||'').length >= 8 || 'Atlest 8 characters',
                nationalIdNumber: value => (value||'').length === 8 || 'Invalid National ID',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                },
            },
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {

        },
        created(){


        },
        mounted(){

        },
        computed: {
            validation:function () {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

                if ((this.password).length<8 || (this.firstName).length===0 ||  (this.lastName).length===0  )
                    return true;
                else if(!pattern.test(this.email))
                    return true;
                else if((this.nationalIdNumber).length<8)
                    return true;
                else
                    return false
            },
            userLoginStatus:function () {
                return this.$store.getters.getUserLoginStatus;
            }
        },
        watch: {
            userLoginStatus:function () {
                switch (this.userLoginStatus) {
                    case 1:
                        this.snackbarMessage = "Registering";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully registered.";
                        let user=this.$store.getters.getUser;
                        this.$cookies.set('user',user,{expires:'1d'});
                        this.$router.push('dashboard');
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Registering was unsuccessful. Try again.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            }
        },
        methods:{
            register(){
                this.$store.dispatch('registerUser',{
                    firstName:this.firstName,
                    middleName:this.middleName,
                    lastName:this.lastName,
                    nationalIdNumber:this.nationalIdNumber,
                    email:this.email,
                    password:this.password,
                    employerId:this.employer.id,
                    accessToken:this.$store.getters.getAccessToken
                })
            }
        }

    }
</script>