<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <v-card>
        <v-container grid-list-xs>
            <v-layout wrap justify-center align-center>
                <v-card max-width="600" flat>
                    <v-card flat max-height="800" v-if="show==true">
                        <v-card-title class="headline"><div class="headline">Current Camera</div></v-card-title>
                        <v-card-subtitle><code v-if="device">{{ device.label }}</code></v-card-subtitle>
                        <v-card-text>
                            <div class="mt-5">
                                <web-cam
                                        ref="webcam"
                                        :device-id="deviceId"
                                        width="100%"
                                        height="auto"
                                        @started="onStarted"
                                        @stopped="onStopped"
                                        @error="onError"
                                        @cameras="onCameras"
                                        @camera-change="onCameraChange"
                                />
                            </div>
                            <div>
                                <v-select
                                        v-model="camera"
                                        :items="devices"
                                        item-text="label"
                                        item-value="deviceId"
                                        attach
                                ></v-select>
                            </div>
                            <div class="grey--text">Camera options</div>
                            <v-btn class="elevation-0" color="primary" @click="onCapture"><v-icon>camera_alt</v-icon> Capture</v-btn>
                            <v-btn class="elevation-0" color="success" @click="onStart"><v-icon>videocam</v-icon> Start</v-btn>
                            <v-btn class="elevation-0" color="error" @click="onStop"><v-icon>videocam</v-icon> Stop</v-btn>
                        </v-card-text>
                    </v-card>

                    <v-card flat  v-if="img!=null && show==false">
                        <v-card-title class="headline" > <div class="">Captured Image</div></v-card-title>
                        <v-card-text><v-img :src="img"></v-img></v-card-text>
                        <v-card-text> <v-btn class="elevation-0" color="primary" @click="show=true"><v-icon>camera_alt</v-icon> Retake</v-btn></v-card-text>
                    </v-card>

                    <div class="">
                        <v-btn text color="primary" @click="upload" v-if="img!=null">Upload</v-btn>
                        <v-btn text color="primary" @click="$emit('close')">Cancel</v-btn>
                    </div>
                </v-card>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
    import { WebCam } from "vue-web-cam";

    export default {
        components: {
            WebCam
        },
        data() {
            return {
                show: true,
                img: null,
                camera: null,
                deviceId: null,
                devices: []
            };
        },
        computed: {
            device: function() {
                return this.devices.find(n => n.deviceId === this.deviceId);
            }
        },
        watch: {
            camera: function(id) {
                this.deviceId = id;
            },
            devices: function() {
                // Once we have a list select the first one
                const [first, ...tail] = this.devices;
                if (first) {
                    this.camera = first.deviceId;
                    this.deviceId = first.deviceId;
                }
            }
        },
        methods: {
            onCapture() {
                this.img = this.$refs.webcam.capture();
                this.show=false;
            },
            onStarted(stream) {
//                console.log("On Started Event", stream);
            },
            onStopped(stream) {
//                console.log("On Stopped Event", stream);
            },
            onStop() {
                this.$refs.webcam.stop();
            },
            onStart() {
                this.$refs.webcam.start();
            },
            onError(error) {
//                console.log("On Error Event", error);
            },
            onCameras(cameras) {
                this.devices = cameras;
//                console.log("On Cameras Event", cameras);
            },
            onCameraChange(deviceId) {
                this.deviceId = deviceId;
                this.camera = deviceId;
//                console.log("On Camera Change Event", deviceId);
            },
            upload(){
                if(this.img!==null){
                    this.$emit('uploadPhoto',this.img);
                    this.img=null;
                    this.show=true;
                }
            }


        }
    };
</script>
