<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">
#cms {
    nav{
        background-color: #3f3f3f;
        padding: 10px;

        h1{
            color: white;
            font-weight: 1400;
        }

        .profile_icon{
            float:right;
        }

        /*position:absolute;*/
        /*width:50px;*/

        /*border-right:0.5px solid rgba(0,0,0,0.15);*/


    }

    section{
        /*position: relative;*/
        /*transition: all 0.1s ease;*/
        /*padding: 0 10px 0 60px;*/
    }
    .admin_layout{
        transition: all 0.1s ease;
    }

    aside{
        position: fixed;
        left: -300px;
        width: 300px;
        background-color: #3f3f3f;
        height: 100vh;
        padding: 20px 10px;
        z-index: 99999;
        transition: all 0.1s ease;
        display:block;
        color:white;

        .v-icon{
            float: right;
        }

        ul{
            padding: 30px 20px;
            margin: 0;

        li{
            list-style-type: none;

            margin: 10px 0;
            font-weight: 500;

            a {
                padding: 0 10px;
                color: rgba(255, 255, 255, 0.8);
                text-decoration: none;
            }

            .router-link-exact-active{
                border-left: 3px solid rgba(255, 255, 255, 0.8);
            }
        }
        }

    }

    aside.extend{
        left: 0;
    }

    .admin_layout.extend{
        position: fixed;
        left:300px;
        right:-300px;
    }


}

    #content {

    }



@media only screen and (min-width: 576px){

}
@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 960px) {


}
@media only screen and (min-width: 1280px) {


}
</style>

<template>
    <v-app id="cms">
        <div class="admin_layout">
            <nav class="">
                <div  v-if="" >
                    <!--<div  v-if="userLoginStatus===2" >-->
                    <v-btn class="profile_icon" fab small text dark color="white" @click="menu=true"><v-icon  dark>person</v-icon>
                    </v-btn>
                    <v-dialog v-model="menu" width="300">
                        <v-card>
                            <!--<v-card-text>-->
                            <v-list>
                                <!--<v-list-item>-->
                                <!--<v-list-item-title>Profile</v-list-item-title>-->
                                <!--</v-list-item>-->
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-list-item-title>{{user.firstName}} {{user.lastName}}</v-list-item-title>
                                        <!--<v-list-item-subtitle>{{user.employer.name}} Employee</v-list-item-subtitle>-->
                                    </v-list-item-content>
                                </v-list-item>
                                <v-divider></v-divider>
                                <v-list-item @click="updateDialog=true">
                                    <v-list-item-title>Change Password</v-list-item-title>
                                </v-list-item>
                                <v-list-item @click="logoutUser">
                                    <v-list-item-title>Logout</v-list-item-title>
                                </v-list-item>
                            </v-list>
                            <!--</v-card-text>-->
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="updateDialog" max-width="600">
                        <v-card>
                            <v-card-title>Change Password</v-card-title>
                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12>
                                            <v-text-field
                                                    v-model="email"
                                                    label="E-mail"
                                                    required
                                                    prepend-inner-icon="email"
                                                    :rules="[rules.email,rules.required]"
                                                    outlined
                                                    clearable
                                                    disabled
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                    v-model="oldPassword"
                                                    v-on:keyup.enter="signIn"
                                                    label="Old Password"
                                                    autocomplete="new-password"
                                                    :rules="[rules.password]"
                                                    required
                                                    outlined
                                                    :type="showPassword?'text':'password'"
                                                    :append-icon="showPassword?'visibility':'visibility_off'"
                                                    prepend-inner-icon="lock"
                                                    @click:append="showPassword=!showPassword"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                    v-model="newPassword"
                                                    v-on:keyup.enter="signIn"
                                                    label="New Password"
                                                    autocomplete="new-password"
                                                    :rules="[rules.password]"
                                                    required
                                                    outlined
                                                    :type="showPassword?'text':'password'"
                                                    :append-icon="showPassword?'visibility':'visibility_off'"
                                                    prepend-inner-icon="lock"
                                                    @click:append="showPassword=!showPassword"
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>
                            <v-card-actions >
                                <v-spacer></v-spacer>
                                <v-btn text elevation="0" color="primary" @click="updateDialog=false">Cancel</v-btn>
                                <v-btn dark elevation="0" color="primary" :disabled="validation" @click="updateUser">Edit</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
                <h1 class=""><v-icon dark @click="extendMobileMenu">menu</v-icon> Admin Panel</h1>

            </nav>
            <section>
                <router-view></router-view>
            </section>
        </div>
        <aside>
            <v-icon dark @click="closeMobileMenu">close</v-icon>
            <!--<div>Dashboard</div>-->
            <!--<div>Employers</div>-->
            <!--<div>Users</div>-->
            <ul>
                <li @click="closeMobileMenu">
                    <router-link :to="{name:'admin-dashboard'}" >DASHBOARD</router-link>
                </li>
                <li @click="closeMobileMenu">
                    <router-link :to="{name:'employers'}" >EMPLOYERS</router-link>
                </li>
                <li @click="closeMobileMenu">
                    <router-link :to="{name:'users'}" >USERS</router-link>
                </li>
                <li @click="closeMobileMenu">
                    <router-link :to="{name:'contents'}" >CONTENT</router-link>
                </li>
            </ul>
        </aside>

        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </v-app>
</template>

<script>
//    import Navigation from '../components/global/Navigation.vue';


    export default {
        data: () => ({
            menu:false,
            updateDialog:false,
            email:'',
            oldPassword:'',
            newPassword:'',
            showPassword:false,
            rules: {
                required: value => value!=='' || 'Cannot be empty',
                password: value => (value||'').length >= 8 || 'Atlest 8 characters',
            },
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
//            Navigation
        },
        created(){
            if(this.$store.getters.getUserLoginStatus===2){
                this.email=this.user.email;
                this.oldPassword='';
                this.newPassword='';
            }

        },
        mounted(){

        },
        computed: {
            user:function () {
                return this.$store.getters.getUser;
            },
            userLoginStatus:function () {
                return this.$store.getters.getUserLoginStatus;
            },
            validation:function () {

                if ((this.newPassword).length<8  || (this.oldPassword).length<8  )
                    return true;
                else
                    return false
            },
            usersUpdateStatus:function () {
                return this.$store.getters.getUsersUpdateStatus;
            }



        },
        watch: {
            usersUpdateStatus:function () {
                switch (this.usersUpdateStatus) {
                    case 1:
                        this.snackbarMessage = "Updating user.";
                        break;
                    case 2:
                        let user=this.$store.getters.getUser;
                        this.$cookies.set('user', user, {expires: '1d'});
                        this.menu = false;
                        this.updateDialog = false;
                        this.snackbarMessage = "Updated successfully.";
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Some fields missing.";
                        break;
                    case 5:
                        this.snackbarMessage = "Invalid old previous password.";
                        break;
                    case 6:
                        this.snackbarMessage = "Invalid user.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },
            userLoginStatus:function () {
                if(this.userLoginStatus===2){
                    this.email=this.user.email;
                    this.oldPassword='';
                    this.newPassword='';
                }
            }
        },
        methods:{
            extendMobileMenu(){
                $('aside').addClass('extend');
                $('.admin_layout').addClass('extend');
            },
            closeMobileMenu(){
                $('aside').removeClass('extend');
                $('.admin_layout').removeClass('extend');
            },
            updateUser(){
                this.$store.dispatch('updateUser',{
                    id:this.user.id,
                    type:'admin',
                    oldEmail:this.user.email,
                    newPassword:this.newPassword,
                    oldPassword:this.oldPassword,
                    accessToken:this.$store.getters.getAccessToken
                });
            },
            logoutUser(){
                this.$store.dispatch('logoutUser');
                this.$cookies.remove('user');
                this.$store.dispatch('selectedEmployer',{
                    employer:[]
                });
                this.menu=false;
                this.$router.push('/');
            },

        }

    }
</script>