<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <v-app>
        <div class="navigation">
            <nav >
                <img class="logo_image" src="images/logo-1.svg" alt="">
                <div class="logo_title"><h1>ZACHANGU</h1></div>
            </nav>
        </div>
        <div class="nav_spacer"></div>
        <v-container>
            <v-card flat>
                <v-card-title class="headline">
                    Admin Login
                </v-card-title>
                <!--<v-card-subtitle>-->
                <!--New user? <a class="underline" @click="$emit('toggleLogin')">Create an account</a>-->
                <!--</v-card-subtitle>-->
                <v-card-text>
                    <v-form ref="form">
                        <v-flex xs12>
                            <v-text-field
                                    v-model="email"
                                    v-on:keyup.enter="login"
                                    label="E-mail"
                                    prepend-inner-icon="email"
                                    :rules="[rules.email,rules.required]"
                                    outlined
                                    clearable
                                    autocomplete="off"
                                    browser-autcomplete="new-email"
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field
                                    v-model="password"
                                    v-on:keyup.enter="login"
                                    autocomplete="new-password"
                                    browser-autcomplete="new-password"
                                    label="Password"
                                    :rules="[rules.password]"
                                    outlined
                                    :type="showPassword?'text':'password'"
                                    :append-icon="showPassword?'visibility':'visibility_off'"
                                    prepend-inner-icon="lock"
                                    @click:append="showPassword=!showPassword"
                            ></v-text-field>
                        </v-flex>
                    </v-form>
                    <v-flex
                            class="text-center"
                            v-if="userLoginStatus==1"
                    >

                        <v-progress-circular
                                indeterminate
                                color="primary"
                        >
                        </v-progress-circular>
                    </v-flex>
                    <v-flex xs12 v-else>
                        <v-btn dark elevation="0" color="primary" :disabled="validation" @click="login">Login</v-btn>
                    </v-flex>

                </v-card-text>

                <v-snackbar
                        v-model="snackbar"
                        color="primary"
                >
                    {{snackbarMessage}}
                </v-snackbar>
            </v-card>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            email:'',
            password:'',
            showPassword:false,
            rules: {
                password: value => (value||'').length >= 8 || 'Atlest 8 characters',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                },
            },
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {

        },
        created(){


        },
        mounted(){


        },
        computed: {
            validation:function () {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                if ((this.password).length<8)
                    return true;
                else if(!pattern.test(this.email))
                    return true;
                else
                    return false
            },
            userLoginStatus:function () {
                return this.$store.getters.getUserLoginStatus;
            }

        },
        watch: {
            userLoginStatus:function () {
                switch (this.userLoginStatus) {
                    case 1:
                        this.snackbarMessage = "Signing in";
                        break;
                    case 2:
                        let user=this.$store.getters.getUser;
                        //check for the user
                        if(user.admin){
                            this.snackbarMessage = "Signed in successfully.";
                            this.$cookies.set('user',user,{expires:'1d'});
                            this.$router.push({name:'admin-dashboard'})

                        }else
                            this.snackbarMessage = "User is not administrator";

                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Some fields missing.";
                        break;
                    case 5:
                        this.snackbarMessage = "Invalid credentials.";
                        break;
                    case 6:
                        this.snackbarMessage = "User doesn't belong to this employer.";
                        break;
                    case 7:
                        this.snackbarMessage = "User is not administrator";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            }

        },
        methods:{
            login(){
                this.$store.dispatch('login',{
                    email:this.email,
                    password:this.password,
                    employerId:0,
                })
            }
        }

    }
</script>