<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">

    .adminLoansSection{
        /*background-color: #e2e2e2;*/
        /*height:100vh;*/
    }

    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div >
        <v-card color="" class="" flat  v-if="loansStatus==2">
            <v-container>
                <!--<v-card-title class="headline">-->
                   <!---->
                <!--</v-card-title>-->
                <v-card-text>
                    <div class="headline">Loans Dashboard</div>
                    <div >
                        <v-chip label color="">{{(loans.due).length}} Due</v-chip>
                        <v-chip label color="">{{(loans.pending).length}} Pending</v-chip>
                        <v-chip label color="">{{(loans.active).length}} Active</v-chip>
                    </div>
                </v-card-text>
            </v-container>
        </v-card>
        <v-layout v-if="loansStatus==1" fill-height align-center justify-center>
            <div class="text-center">
                <v-progress-circular
                        indeterminate
                        color="primary"
                >
                </v-progress-circular>
            </div>
        </v-layout>
        <v-layout v-else-if="loansStatus==2" class="adminLoansSection" >
            <v-container v-if="!((loans.due).length==0 && (loans.pending).length==0 && (loans.active).length==0)">
                <v-card rounded color="" v-if="(loans.due).length>0">
                    <!--<v-card-title>Loans due</v-card-title>-->
                    <v-card-text>
                        <v-subheader>LOANS DUE</v-subheader>
                        <!--<v-chip color="white" label>Loans due</v-chip>-->
                        <v-divider></v-divider>

                        <v-list>
                            <v-list-item
                                    three-line
                                    link
                                    v-for="(loan,index) in loans.due"
                                    :key="index"
                                    :to="{name:'loan-admin',params:{code:loan.code}}"
                            >
                                <v-list-item-avatar>
                                    <v-btn fab small dark color="error">{{index+1}}</v-btn>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title class="title" color="primary">MK{{loan.amount}}</v-list-item-title>
                                    <v-list-item-subtitle class="text--primary" color="primary">Expired on {{loan.dueDate}}</v-list-item-subtitle>
                                    <v-list-item-subtitle>{{loan.firstName}} {{loan.lastName}}</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                    <br>
                </v-card>

                <v-card rounded v-if="(loans.pending).length>0">
                    <v-card-text>
                        <v-subheader>PENDING APPROVAL</v-subheader>
                        <v-divider></v-divider>
                        <v-list>
                            <v-list-item
                                    three-line
                                    link
                                    v-for="(loan,index) in loans.pending"
                                    :key="index"
                                     :to="{name:'loan-admin',params:{code:loan.code}}"
                            >
                                <v-list-item-avatar>
                                    <v-btn fab small dark color="warning">{{index+1}}</v-btn>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title class="title" color="primary">MK{{loan.amount}}</v-list-item-title>
                                    <v-list-item-subtitle class="text--primary" color="primary">Applied on {{loan.updatedAt}}</v-list-item-subtitle>
                                    <v-list-item-subtitle>{{loan.firstName}} {{loan.lastName}}</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        </v-list>
                    </v-card-text>
                    <br>
                </v-card>

                <v-card rounded v-if="(loans.active).length>0">
                    <v-card-text>
                        <v-subheader>ACTIVE LOANS</v-subheader>
                        <v-divider></v-divider>
                        <v-list>
                            <v-list-item
                                    three-line
                                    link
                                    v-for="(loan,index) in loans.active"
                                    :key="index"
                                     :to="{name:'loan-admin',params:{code:loan.code}}"
                            >
                                <v-list-item-avatar>
                                    <v-btn fab small dark color="success">{{index+1}}</v-btn>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title class="title" color="primary">MK{{loan.amount}}</v-list-item-title>
                                    <v-list-item-subtitle class="text--primary" color="primary">Valid until {{loan.dueDate}}</v-list-item-subtitle>
                                    <v-list-item-subtitle>{{loan.firstName}} {{loan.lastName}}</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        </v-list>
                    </v-card-text>
                </v-card>
                <div class="spacer"></div>
            </v-container>
        </v-layout>
        <v-layout v-else-if="loansStatus==3" fill-height align-center justify-center>
            Error occurred. Refresh page.
        </v-layout>
        <v-layout v-else-if="loansStatus==4" fill-height align-center justify-center>
            Could not load loans. Refresh page.
        </v-layout>

        <div class="hint">
            <div class="submitBtn">
                <div><v-btn class="elevation-0" color="primary" @click="exportDialog=true">Export Datasheet</v-btn></div>
            </div>
        </div>

        <v-dialog v-model="exportDialog" max-width="600">
            <v-card>
                <v-card-title class="">Export Datasheet</v-card-title>
                <v-card-subtitle >Set the date you want to start exporting from</v-card-subtitle>
                <v-card-text class="text-center">
                    <v-date-picker
                            v-model="date"
                            no-title
                            scrollable
                            color="primary"
                            :max="today"
                    ></v-date-picker>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="elevation-0" color="primary" @click="exportDatasheet">Export</v-btn>
                    <v-btn text class="elevation-0" color="primary" @click="exportDialog=false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </div>
</template>

<script>


    export default {
        data: () => ({
            exportDialog:false,
            date:new Date().toISOString().substr(0,10),
            today:new Date().toISOString().substr(0,10),
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
//            Navigation
        },
        created(){

            this.$store.dispatch('indexLoanAdmin',{
                accessToken:this.$store.getters.getAccessToken
            });

        },
        mounted(){

        },
        computed: {
            loans:function () {
                return this.$store.getters.getLoans;
            },
            loansStatus:function () {
                return this.$store.getters.getLoansLoadStatus;
            },
        },
        watch: {

        },
        methods:{
            exportDatasheet(){
                this.exportDialog=false;
                this.$store.dispatch('exportDatasheet',{
                    date:this.date,
                    accessToken:this.$store.getters.getAccessToken
                })
            }

        }

    }
</script>