<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-card color="" class="" flat>
            <v-container>
                <v-card-title class="headline">
                    Manage Site Content
                </v-card-title>
                <v-divider></v-divider>
                <div v-if="contentsStatus==1" class="text-center">
                    <v-progress-circular indeterminate color="primary"></v-progress-circular>
                </div>
                <v-card-text v-if="contentsStatus==2">
                    <v-tabs
                            v-model="tab"


                    >
                        <v-tabs-slider ></v-tabs-slider>

                        <v-tab>Pages</v-tab>
                        <v-tab>About Us</v-tab>
                        <v-tab>Terms and Conditions</v-tab>
                        <v-tab>Loan Specifics</v-tab>
                    </v-tabs>
                    <!--</template>-->
                    <v-tabs-items
                            v-model="tab"
                            color="white">
                        <v-tab-item key="0">
                            <v-container grid-list-md>
                                    <!--Home Page-->
                                    <!--<v-card>-->
                                        <!--<v-card-text>-->
                                            <!--<v-subheader>HOME PAGE</v-subheader>-->
                                                <!--<v-layout wrap class="">-->
                                                    <!--<v-flex xs12 sm6>-->
                                                        <!--<v-text-field-->
                                                                <!--v-model="contents.home.title"-->
                                                                <!--label="Title"-->
                                                                <!--outlined-->
                                                        <!--&gt;</v-text-field>-->
                                                    <!--</v-flex>-->
                                                    <!--<v-flex xs12 sm6>-->
                                                        <!--<v-text-field-->
                                                                <!--v-model="contents.home.subtitle"-->
                                                                <!--label="Subtitle"-->
                                                                <!--outlined-->
                                                        <!--&gt;</v-text-field>-->
                                                    <!--</v-flex>-->
                                                    <!--<v-flex xs12 sm6>-->
                                                        <!--<v-text-field-->
                                                                <!--v-model="contents.home.contactInformation.address"-->
                                                                <!--label="Address"-->
                                                                <!--outlined-->
                                                        <!--&gt;</v-text-field>-->
                                                    <!--</v-flex>-->
                                                    <!--<v-flex xs12 sm6>-->
                                                        <!--<v-text-field-->
                                                                <!--v-model="contents.home.contactInformation.phoneNumber"-->
                                                                <!--label="Phone Number"-->
                                                                <!--outlined-->
                                                        <!--&gt;</v-text-field>-->
                                                    <!--</v-flex>-->
                                                    <!--<v-flex xs12 sm6>-->
                                                        <!--<v-text-field-->
                                                                <!--v-model="contents.home.contactInformation.email"-->
                                                                <!--label="Email"-->
                                                                <!--outlined-->
                                                        <!--&gt;</v-text-field>-->
                                                    <!--</v-flex>-->
                                                <!--</v-layout>-->
                                        <!--</v-card-text>-->
                                    <!--</v-card>-->
                                <!--<br>-->



                                    <!--Welcome Page-->
                                <v-card>
                                    <v-card-text>
                                        <v-subheader>WELCOME PAGE</v-subheader>
                                        <v-layout wrap class="">
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.welcome.title"
                                                        label="Title"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.welcome.subtitle"
                                                        label="Subtitle"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.home.contactInformation.address"
                                                        label="Address"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.home.contactInformation.phoneNumber"
                                                        label="Phone Number"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.home.contactInformation.email"
                                                        label="Email"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <br>



                                    <!--Dashboard-->
                                    <v-card>
                                        <v-card-text>
                                            <v-subheader>DASHBOARD</v-subheader>
                                            <v-layout wrap class="">
                                               <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.dashboard.title"
                                                        label="Title"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                                <v-flex xs12 sm6>
                                                    <v-text-field
                                                            v-model="contents.dashboard.subtitle"
                                                            label="Subtitle"
                                                            outlined
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                <br>

                                    <!--New Application Form-->
                                    <v-card>
                                        <v-card-text>
                                            <v-subheader>NEW APPLICATION FORM</v-subheader>
                                            <v-layout wrap class="">
                                                <v-flex xs12 sm6>
                                                    <v-text-field
                                                            v-model="contents.newForm.title"
                                                            label="Title"
                                                            outlined
                                                    ></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm6>
                                                    <v-text-field
                                                            v-model="contents.newForm.subtitle"
                                                            label="Subtitle"
                                                            outlined
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                <br>



                                    <!--Update Application Form-->
                                <v-card>
                                    <v-card-text>
                                        <v-subheader>UPDATE APPLICATION FORM</v-subheader>
                                        <v-layout wrap class="">
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.updateForm.title"
                                                        label="Title"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="contents.updateForm.subtitle"
                                                        label="Subtitle"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <br>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item key="1">
                            <v-container grid-list-md>
                                <v-layout wrap class="">
                                    <!--About Us-->
                                    <v-flex xs12>
                                        <v-text-field
                                                v-model="contents.home.about.title"
                                                label="Title"
                                                outlined
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <ckeditor :editor="editor" v-model="contents.home.about.body" :config="editorConfig">
                                        </ckeditor>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item key="2">
                            <v-container grid-list-md>
                                <v-layout wrap class="">
                                    <!--About Us-->
                                    <v-flex xs12>
                                        <ckeditor :editor="editor"v-model="contents.termsAndConditions.text" :config="editorConfig">
                                        </ckeditor>
                                    </v-flex>
                                    <br>
                                    <v-flex xs12 sm6>
                                        <div class="grey--text">Download File</div>
                                        <v-btn color="primary" outlined class="elevation-0" :href="contents.termsAndConditions.file" target="_blank">View Document</v-btn>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <div class="grey--text">Upload File</div>
                                        <upload-button
                                                ref="button"
                                                @file-update="termsFileChanged"
                                                title="Select File"
                                                color="white"
                                                outlined
                                                class="upload-button"
                                                :disabled="uploadStatus==1"

                                        >
                                            <template slot="icon-left">
                                                <v-icon  left>attach_file</v-icon>
                                            </template>
                                        </upload-button>
                                        <div v-if="termsCheck==true">
                                            <v-icon color="success">check_circle</v-icon> Terms and Conditions uploaded
                                        </div>
                                        <div v-else-if="termsCheck==false">
                                            <v-icon color="error">close</v-icon> Terms and Conditions upload failed
                                            <v-icon color="success" @click="termsFileChanged(termsFile)">refresh</v-icon>
                                        </div>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item key="3">
                            <v-container grid-list-md>
                                <v-layout wrap class="">
                                    <!--Fee-->
                                    <v-flex xs12 sm6>
                                        <!--<div class="grey&#45;&#45;text">Processing Fee</div>-->
                                        <v-text-field
                                                v-model="contents.fee"
                                                label="Fee"
                                                outlined
                                                prefix="MK"
                                        ></v-text-field>
                                    </v-flex>

                                    <!--Interest-->
                                    <v-flex xs12 sm6>
                                        <!--<div class="grey&#45;&#45;text">Interest</div>-->
                                        <v-text-field
                                                v-model="contents.interest"
                                                label="Interest"
                                                outlined
                                                :hint="(contents.interest)*100 +'%'"
                                                persistent-hint
                                        ></v-text-field>
                                    </v-flex>

                                    <!--Lower Limit Amount-->
                                    <v-flex xs12 sm6>
                                        <!--<div class="grey&#45;&#45;text">Lower Limit Amount</div>-->
                                        <v-text-field
                                                v-model="contents.amountLimit.lower"
                                                label="Lower Limit Amount"
                                                outlined
                                                prefix="MK"
                                        ></v-text-field>
                                    </v-flex>

                                    <!--Upper Limit Amount-->
                                    <v-flex xs12 sm6>
                                        <!--<div class="grey&#45;&#45;text">Upper Limit Amount</div>-->
                                        <v-text-field
                                                v-model="contents.amountLimit.upper"
                                                label="Upper Limit Amount"
                                                outlined
                                                prefix="MK"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-tab-item>
                    </v-tabs-items>
                    <div class="spacer"></div>
                </v-card-text>

                <div v-else-if="contentsStatus==3">
                    Failed to load
                </div>
                <div v-else-if="contentsStatus==4">
                    Couldn't load content
                </div>
            </v-container>
            <div class="hint">
                <div class="submitBtn">
                    <v-btn dark elevation="0" color="primary" @click="storeContent">Update Content</v-btn>
                </div>
            </div>
            </v-card>

            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>

    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
     import UploadButton from 'vuetify-upload-button'

    export default {
        data: () => ({
            tab:null,

            //terms and conditions upload
            termsFile:'',
            termsCheck:null,

            snackbar:false,
            snackbarMessage:'',
            editor:ClassicEditor,
            editorData:'',
            editorConfig:{
                toolbar:['bold','italic','|','bulletedList','numberedList','|','undo','redo']
            },
        }),
        components: {
//            Navigation
               'upload-button':UploadButton,
        },
        created(){
            this.$store.dispatch('indexContent');
        },
        mounted(){

        },
        computed: {
            contents:function () {
                return this.$store.getters.getContents;
            },
            contentsStatus:function () {
                return this.$store.getters.getContentsLoadStatus;
            },
            contentsStoreStatus:function () {
                return this.$store.getters.getContentsStoreStatus;
            },
            uploadStatus:function () {
                return this.$store.getters.getUploadStatus;
            },
        },
        watch: {
            contentsStoreStatus:function () {
                switch (this.contentsStoreStatus) {
                    case 1:
                        this.snackbarMessage = "Updating content.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully updated.";
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Updating was unsuccessful. Try again.";
                        break;
                    case 5:
                    default:
                        break;
                }
                this.snackbar = true;
            },
            uploadStatus:function () {
                switch (this.uploadStatus) {
                    case 1:
                        this.snackbarMessage = "Updating content.";
                        break;
                    case 2:
//                        this.snackbarMessage = "Successfully uploaded.";
                        this.termsCheck=true;
                        this.contents.termsAndConditions.file=this.$store.getters.getUploadedFile;
                        this.termsFile='';
                        this.storeContent()

                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        this.termsCheck=false;
                        break;
                    case 4:
                        this.snackbarMessage = "Uploading was unsuccessful. Try again.";
                        this.termsCheck=false;
                        break;
                    case 5:
                        this.snackbarMessage = "Invalid photo extension. Try again.";
                        this.termsCheck=false;
                        break;
                    case 6:
                        this.snackbarMessage = "Invalid file extension. Try again.";
                        this.termsCheck=false;
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },

        },
        methods:{
            storeContent(){
                this.$store.dispatch('storeContent',{
                    'contents':this.contents,
                    accessToken:this.$store.getters.getAccessToken
                })
            },
            termsFileChanged(file) {
                const reader = new FileReader();
                if (file) {
                    reader.readAsDataURL(file);
                    reader.onload = (e) => {

                        this.$store.dispatch('uploadFile', {
                            name: 'terms-and-conditions-file',
                            file: e.target.result,
                            type: 'terms',
                            accessToken: this.$store.getters.getAccessToken
                        })
                    };
                }
            }
        }

    }
</script>