<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-card color="" class="" flat>
            <v-container>
                <v-card-title class="headline">
                    Manage Employers
                </v-card-title>
                <v-card-subtitle >
                    <v-btn color="primary" class="elevation-0" :to="{name:'new-employer'}">+ New Employer</v-btn>
                </v-card-subtitle>
            <!--</v-container>-->
        <!--</v-card>-->
        <!--<v-container>-->
                <v-divider ></v-divider>

            <!--<v-card color="" flat>-->
                <v-card-text>

                    <div v-if="employersLoadStatus==1" class="text-center">
                        <v-progress-circular indeterminate color="primary"></v-progress-circular>
                    </div>

                    <v-list v-else-if="employersLoadStatus==2" >
                        <div v-if="(employers).length>0">
                            <v-list-item
                                    three-line
                                    link
                                    v-for="(employer,index) in employers"
                                    :key="index"
                                    :to="{name:'employer',params:{id:employer.id}}"
                            >
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{employer.name}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">{{employer.address}}</v-list-item-subtitle>
                                    <v-list-item-subtitle>
                                        <v-chip label outlined>{{employer.employeesCount}} {{employer.employeesCount==1?'Employee':'Employees'}}</v-chip>
                                        <!--<v-chip label outlined>7 loans</v-chip>-->
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </div>
                        <div v-else>
                            No employers found
                        </div>

                    </v-list>

                    <div v-else-if="employersLoadStatus==3">
                        Failed to load
                    </div>
                    <div v-else-if="employersLoadStatus==4">
                        Couldn't load employers
                    </div>
                </v-card-text>
            </v-container>
            </v-card>

            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>

    </div>
</template>

<script>


    export default {
        data: () => ({
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
//            Navigation
        },
        created(){
            this.$store.dispatch('indexEmployer');
        },
        mounted(){

        },
        computed: {
            employers:function () {
                return this.$store.getters.getEmployers;
            },
            employersLoadStatus:function () {
                return this.$store.getters.getEmployersLoadStatus;
            },
        },
        watch: {

        },
        methods:{

        }

    }
</script>