<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <v-card flat>
        <v-container>
            <v-breadcrumbs :items="items"></v-breadcrumbs>
            <div v-if="employerLoadStatus==1" class="text-center">
                    <v-progress-circular
                            indeterminate
                            color="primary"
                    >
                    </v-progress-circular>
            </div>
            <div v-if="employerLoadStatus==2">
                <v-card color="" class="" flat>

                        <v-card-title class="headline">
                            {{employer.employer.name}}
                            <v-btn fab x-small text :to="{name:'update-employer',params:{id:employer.employer.id}}"><v-icon>edit</v-icon></v-btn>
                            <v-btn fab x-small text @click="deleteDialog=true"><v-icon>delete</v-icon></v-btn>
                        </v-card-title>
                        <v-card-subtitle >
                            {{employer.employer.address}}
                            <div>
                                <v-btn color="primary" class="elevation-0" :to="{name:'new-employee',params:{id:employer.employer.id}}">+ New Employee</v-btn>
                                <v-btn color="primary" outlined v-if="employer.employer.letter" :href="employer.employer.letter" target="_blank">Agreement Letter</v-btn>
                            </div>
                        </v-card-subtitle>
                        <!--</v-container>-->
                        <!--</v-card>-->
                        <!--<v-container>-->


                        <!--<v-card color="" flat>-->
                        <v-divider></v-divider>
                        <v-card-text>
                            <!--<v-subheader>MANAGE EMPLOYERS</v-subheader>-->

                            <!--<v-chip color="white" label>Loans due</v-chip>-->
                            <!--<v-divider></v-divider>-->

                            <v-list v-if="( employer.employees).length>0">
                                <employee
                                        v-for="(employee,index) in employer.employees"
                                        :key="index"
                                        :index="index"
                                        :employee="employee"
                                ></employee>
                            </v-list>
                            <div v-else>
                                No employees found
                            </div>
                        </v-card-text>

                </v-card>

            </div>
            <div v-else-if="employerLoadStatus==3">
                Failed to load
            </div>
            <div v-else-if="employerLoadStatus==4">
                Couldn't load employer
            </div>
        </v-container>
        <v-dialog v-model="deleteDialog" max-width="300">
            <v-card >
                <v-card-title class="headline">Delete employer</v-card-title>
                <v-card-text>Are you sure you want to proceed?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" class="elevation-0" @click="deleteEmployer">Delete</v-btn>
                    <v-btn text color="primary" @click="deleteDialog=false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>


            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>
    </v-card>
</template>

<script>
    import Employee from '../../components/Employee.vue'

    export default {
        props:['id'],
        data: () => ({
            items:[{
                text:'Employers',
                href:'#/employers',
                disabled:false
            },{
                text:'Employer details',
                disabled:true
            }],
            deleteDialog:false,
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
            Employee
        },
        created(){
            this.$store.dispatch('showEmployer',{
                id:this.id,
                accessToken:this.$store.getters.getAccessToken
            });
        },
        mounted(){

        },
        computed: {
            employer:function () {
                return this.$store.getters.getEmployer;
            },
            employerLoadStatus:function () {
                return this.$store.getters.getEmployerLoadStatus;
            },
            employersDeleteStatus:function () {
                return this.$store.getters.getEmployersDeleteStatus;
            },
            employeesDeleteStatus:function () {
                return this.$store.getters.getEmployeesDeleteStatus;
            },

        },
        watch: {
            employersDeleteStatus:function () {
                switch (this.employersDeleteStatus) {
                    case 1:
                        this.snackbarMessage = "Deleting employer.";
                        break;
                    case 2:
                        this.$router.push({name:'employers'});
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Unsuccessful. Try again.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },
            employeesDeleteStatus:function () {
                switch (this.employeesDeleteStatus) {
                    case 1:
                        this.snackbarMessage = "Deleting employee.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully deleted.";
                        this.$router.go();
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Unsuccessful. Try again.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },

        },
        methods:{
            deleteEmployer(){
                this.$store.dispatch('destroyEmployer',{
                    id:this.id,
                    accessToken:this.$store.getters.getAccessToken
                })
            }

        }

    }
</script>