<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-container>
        <v-breadcrumbs :items="items"></v-breadcrumbs>
        <v-card color="" class="" flat v-if="loanStatus==2">

            <v-list>
                <v-list-item three-line>
                    <v-list-item-avatar>
                        <v-btn fab small :color="getStatusColor(loan.status)"><v-icon >info</v-icon></v-btn>
                        <!--<v-icon :color="getStatusColor(loan.status)">info</v-icon>-->
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="headline" color="primary"> MK{{loan.amount}}</v-list-item-title>
                        <!--<v-list-item-subtitle class="" color="primary">{{loan.firstName}} {{loan.lastName}}</v-list-item-subtitle>-->
                        <v-list-item-subtitle class="" color="primary">{{getStatus(loan.status)}}</v-list-item-subtitle>
                        <v-list-item-subtitle class="" color="primary">
                            <v-btn  color="primary" class="elevation-0" v-show="loan.status==0" @click="approveLoan" :disabled="loansUpdateStatus==1">Approve Details</v-btn>
                            <v-btn  color="primary" class="elevation-0" v-show="loan.status<3" @click="closeLoan">Close</v-btn>
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-card-text>
                <v-list>
                    <!--<v-subheader>Loan Details</v-subheader>-->
                    <v-list-item two-line v-show="loan.status==0">
                        <v-list-item-content>
                            <v-list-item-title class="" color="primary">{{loan.updatedAt}}</v-list-item-title>
                            <v-list-item-subtitle class="" color="primary">Applied Date</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line v-show="loan.progress>=2 && loan.approvedDate!=null">
                        <v-list-item-content>
                            <v-list-item-title class="" color="primary">{{loan.approvedDate}}</v-list-item-title>
                            <v-list-item-subtitle class="" color="primary">Approved Date</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line v-show="loan.progress>=2 && loan.dueDate!=null">
                        <v-list-item-content>
                            <v-list-item-title class="" color="primary">{{loan.dueDate}}</v-list-item-title>
                            <v-list-item-subtitle class="" color="primary">Due Date</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line v-show="loan.status==3">
                        <v-list-item-content>
                            <v-list-item-title class="" color="primary">{{loan.updatedAt}}</v-list-item-title>
                            <v-list-item-subtitle class="" color="primary">Closed Date</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card-text>
                <!--<v-card-title class="headline">-->
                    <!--MK{{loan.amount}}-->
                <!--</v-card-title>-->
                <!--<v-card-subtitle >-->
                    <!--{{loan.firstName}} {{loan.lastName}}-->
                <!--</v-card-subtitle>-->
                <v-divider></v-divider>

            <!--Total Score-->
            <v-card-text class="text-center">
                <v-progress-circular
                        rotate="-90"
                        size="180"
                        width="25"
                        :value="loan.score"
                        color="primary"

                >{{loan.score}}%</v-progress-circular>
            </v-card-text>
            <!--Photo-->
            <v-card-text>
                <v-card outlined >
                    <v-subheader>PHOTO</v-subheader>
                    <v-img :src="loan.photo.form" alt=""></v-img>
                </v-card>
            </v-card-text>
            <!--First Name-->
            <v-card-text>
                <!--<div class="title">First Name </div>-->
                <v-card outlined>

                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.firstName.score}}%</v-chip></div>
                        <v-subheader>FIRST NAME</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.firstName.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.firstName.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Middle Name-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.middleName.score}}%</v-chip></div>
                        <v-subheader>MIDDLE NAME</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.middleName.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.middleName.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Last Name-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.lastName.score}}%</v-chip></div>
                        <v-subheader>LAST NAME</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.lastName.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.lastName.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Phone Number Mobile-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.phoneNumberMobile.score}}%</v-chip></div>
                        <v-subheader>PHONE NUMBER MOBILE</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">+265 {{loan.phoneNumberMobile.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">+265 {{loan.phoneNumberMobile.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Phone Number Work-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.phoneNumberWork.score}}%</v-chip></div>
                        <v-subheader>PHONE NUMBER WORK</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">+265 {{loan.phoneNumberWork.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">+265 {{loan.phoneNumberWork.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Email-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.email.score}}%</v-chip></div>
                        <v-subheader>EMAIL</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.email.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.email.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Residential Address-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.physicalAddress.score}}%</v-chip></div>
                        <v-subheader>RESIDENTIAL ADDRESS</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.physicalAddress.form.name}} {{loan.physicalAddress.form.box}} {{loan.physicalAddress.form.location}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.physicalAddress.employee.name}} {{loan.physicalAddress.employee.box}} {{loan.physicalAddress.employee.location}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Work Address-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.workAddress.score}}%</v-chip></div>
                        <v-subheader>WORK ADDRESS</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.workAddress.form.name}} {{loan.workAddress.form.box}} {{loan.workAddress.form.location}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.workAddress.employee.name}} {{loan.workAddress.employee.box}} {{loan.workAddress.employee.location}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Position-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.position.score}}%</v-chip></div>
                        <v-subheader>POSITION</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.position.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.position.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Contract Expiry Date-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <div class="float-right pa-3"><v-chip color="" >{{loan.contractDurationDate.score}}%</v-chip></div>
                        <v-subheader>CONTRACT EXPIRY DATE</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.contractDurationDate.form}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Loan Form</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.contractDurationDate.employee}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Employee Data</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.contract" target="_blank">View</v-btn></v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Contract</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-card-text>
            <!--Contract Details-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <v-subheader>OTHER DETAILS</v-subheader>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{computePayDay(loan.payDay)}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Pay Day</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.paySlip" target="_blank">View</v-btn></v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Pay Slip</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">MK{{loan.gross}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Gross</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">MK{{loan.net}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Net</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                    </v-list>
                </v-card>
            </v-card-text>

            <!--Guarantors 1/Co-workers 1 -->
            <v-card-text>
                <v-card outlined >
                    <v-subheader>FIRST GUARANTOR/CO-WORKER</v-subheader>
                    <v-img :src="loan.coWorkers.coWorkerPhotoPath1" alt="">
                    </v-img>
                    <!--<div v-for="(coWorker,index) in loan.coWorkers" :key="index">-->
                    <div class="text-center">
                        <!--<v-avatar size="150" color="primary" tile>-->

                        <!--</v-avatar>-->
                    </div>
                    <v-list>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerFirstName1}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">First Name</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line v-if="(loan.coWorkers.coWorkerMiddleName1)">
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerMiddleName1}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Middle Name</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerLastName1}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Last Name</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberMobile1}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Phone Number Mobile</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberWork1}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Phone Number Work</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPhysicalAddress1.name}} . O. Box {{loan.coWorkers.coWorkerPhysicalAddress1.box}} {{loan.coWorkers.coWorkerPhysicalAddress1.location}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Email</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <!--<v-list-item two-line>-->
                        <!--<v-list-item-content>-->
                        <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPosition1}}</v-list-item-title>-->
                        <!--<v-list-item-subtitle class="" color="primary">Position</v-list-item-subtitle>-->
                        <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerContractDuration1}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Contract Expiry Date</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerNationalIdNumber1}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">National Id Number</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.coWorkers.coWorkerNationalIdPath1" target="_blank">View</v-btn></v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">National Id</v-list-item-subtitle>

                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    <!--</div>-->
                </v-card>
            </v-card-text>
            <!--Guarantors 2/Co-workers 1 -->
            <!--<v-card-text>-->
                <!--<v-card outlined >-->
                    <!--<v-subheader>SECOND GUARANTOR/CO-WORKER</v-subheader>-->
                    <!--<v-img :src="loan.coWorkers.coWorkerPhotoPath2" alt="">-->
                    <!--</v-img>-->
                    <!--&lt;!&ndash;<div v-for="(coWorker,index) in loan.coWorkers" :key="index">&ndash;&gt;-->
                    <!--<div class="text-center">-->
                        <!--&lt;!&ndash;<v-avatar size="150" color="primary" tile>&ndash;&gt;-->

                        <!--&lt;!&ndash;</v-avatar>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<v-list>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerFirstName2}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">First Name</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line v-if="(loan.coWorkers.coWorkerMiddleName2)">-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerMiddleName2}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Middle Name</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerLastName2}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Last Name</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberMobile2}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Phone Number Mobile</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberWork2}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Phone Number Work</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPhysicalAddress2.name}} . O. Box {{loan.coWorkers.coWorkerPhysicalAddress2.box}} {{loan.coWorkers.coWorkerPhysicalAddress2.location}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Email</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--&lt;!&ndash;<v-list-item two-line>&ndash;&gt;-->
                        <!--&lt;!&ndash;<v-list-item-content>&ndash;&gt;-->
                        <!--&lt;!&ndash;<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPosition2}}</v-list-item-title>&ndash;&gt;-->
                        <!--&lt;!&ndash;<v-list-item-subtitle class="" color="primary">Position</v-list-item-subtitle>&ndash;&gt;-->
                        <!--&lt;!&ndash;</v-list-item-content>&ndash;&gt;-->
                        <!--&lt;!&ndash;</v-list-item>&ndash;&gt;-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerContractDuration2}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Contract Expiry Date</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerNationalIdNumber2}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">National Id Number</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.coWorkers.coWorkerNationalIdPath2" target="_blank">View</v-btn></v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">National Id</v-list-item-subtitle>-->

                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                    <!--</v-list>-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</v-card>-->
            <!--</v-card-text>-->

            <!--Bank Details-->
            <!--<v-card-text>-->
                <!--<v-card outlined>-->
                    <!--<v-list>-->
                        <!--<v-subheader>BANK DETAILS</v-subheader>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.bankName}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Bank Name</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.bankServiceCenter}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Bank Service Center</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.bankAccountName}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Bank Account Name</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary">{{loan.bankAccountNumber}}</v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Bank Account Number</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.bankStatement" target="_blank">View</v-btn></v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Bank Statement</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                    <!--</v-list>-->
                <!--</v-card>-->
            <!--</v-card-text>-->
            <!--Identifications-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <v-subheader>IDENTIFICATIONS</v-subheader>
                        <v-list-item two-line v-if="loan.nationalId">
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.nationalId" target="_blank">View</v-btn></v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">National Id</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <!--<v-list-item two-line v-if="loan.passportId">-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.passportId" target="_blank">View</v-btn></v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Passport Id</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line v-if="loan.licenceId">-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.licenceId" target="_blank">View</v-btn></v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Licence Id</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                        <!--<v-list-item two-line v-if="loan.otherId">-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.otherId" target="_blank">View</v-btn></v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Other Id</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                    </v-list>
                </v-card>
            </v-card-text>
            <!--&lt;!&ndash;Consent&ndash;&gt;-->
            <!--<v-card-text>-->
                <!--<v-card outlined>-->
                    <!--<v-list>-->
                        <!--<v-subheader>CONSENT</v-subheader>-->
                        <!--<v-list-item two-line >-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.consent" target="_blank">View</v-btn></v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Consent</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                    <!--</v-list>-->
                <!--</v-card>-->
            <!--</v-card-text>-->
            <!--&lt;!&ndash;Reference Letter&ndash;&gt;-->
            <!--<v-card-text>-->
                <!--<v-card outlined>-->
                    <!--<v-list>-->
                        <!--<v-subheader>REFERENCE LETTER</v-subheader>-->
                        <!--<v-list-item two-line >-->
                            <!--<v-list-item-content>-->
                                <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.referenceLetter" target="_blank">View</v-btn></v-list-item-title>-->
                                <!--<v-list-item-subtitle class="" color="primary">Reference Letter</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                        <!--</v-list-item>-->
                    <!--</v-list>-->
                <!--</v-card>-->
            <!--</v-card-text>-->
            <!--Terms and Conditions-->
            <v-card-text>
                <v-card outlined>
                    <v-list>
                        <v-subheader>TERMS AND CONDITIONS</v-subheader>
                        <v-list-item two-line >
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" @click="termsAndConditionsDialog=true">View</v-btn></v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Terms and Conditions</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    <v-dialog v-model="termsAndConditionsDialog" width="600">
                        <v-card >
                            <!--<v-card-title>License Agreement</v-card-title>-->
                            <!--<v-card-text>-->
                            <div class="license_agreement pa-5" v-html="loan.terms_and_conditions"></div>
                            <!--</v-card-text>-->
                            <v-card-actions>
                                <v-btn @click="exportPDF" text>export pdf</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn @click="termsAndConditionsDialog=false" text>close</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-card>
            </v-card-text>

            </v-card>
        </v-container>
            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>

    </div>
</template>

<script>


    export default {
        props:['code'],
        data: () => ({
            snackbar:false,
            snackbarMessage:'',
            termsAndConditionsDialog:false
        }),
        components: {

        },
        created(){
            this.$store.dispatch('showLoan',{
                type:'admin',
                code:this.code,
                userId:this.$store.getters.getUserId,
                accessToken:this.$store.getters.getAccessToken
            })

        },
        mounted(){

        },
        computed: {
            items:function () {
                return [{
                    text:'Users',
                    href:'#/users',
                    disabled:false
                },{
                    text:'User Details',
                    href:'#/users/'+this.loan.userId,
                    disabled:false
                },{
                    text:'Loan details',
                    disabled:true
                }]
            },
            loan:function () {
                return this.$store.getters.getLoan;
            },
            loanStatus:function () {
                return this.$store.getters.getLoanLoadStatus;
            },
            loansUpdateStatus:function () {
                return this.$store.getters.getLoansUpdateStatus;
            }

        },
        watch: {
            loansUpdateStatus:function () {
                switch (this.loansUpdateStatus) {
                    case 1:
                        this.snackbarMessage = "Modifying loan.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successful.";
                        this.$router.go();
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Unsuccessful. Try again.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;

            },

        },
        methods:{
            exportPDF(){
//                window.open('storage/consents/Kunozga-Mlowoka-consent-form-5e77ac22cc644.pdf','_blank');
//                $('#download').click(function () {
//
//                });
                this.$store.dispatch('exportPDF',{
                    code:this.code,
                    accessToken:this.$store.getters.getAccessToken
                })
            },
            approveLoan(){
                this.$store.dispatch('modifyLoan',{
                    code:this.code,
                    type:'approve',
                    accessToken:this.$store.getters.getAccessToken
                });
            },
            closeLoan(){
                this.$store.dispatch('modifyLoan',{
                    code:this.code,
                    type:'close',
                    accessToken:this.$store.getters.getAccessToken
                });
            },

            getStatusColor(status){
                switch (status){
                    case 0:
                        return 'warning';
                        break;
                    case 1:
                        return 'success';
                        break;
                    case 2:
                        return 'error';
                        break;
                    case 3:
                        return 'primary';
                        break;
                    default:
                        break;
                }
            },
            getStatus(status){
                switch (status){
                    case 0:
                        return 'Waiting for approval';
                        break;
                    case 1:
                        return 'Active';
                        break;
                    case 2:
                        return 'Due';
                        break;
                    case 3:
                        return 'Closed';
                        break;
                    default:
                        break;
                }
            },
        computePayDay:function(payDay){
            let day=''
            switch(payDay){
                case null:
                    return '';
                    break;
                case 1:
                    day='st';
                    break;
                case 21:
                    day='st';
                    break;
                case 31:
                    day='st';
                    break;
                case 2:
                    return 'nd'
                    break;
                case 22:
                    return 'nd'
                    break;
                case 3:
                    day='rd';
                    break;
                case 23:
                    day='rd';
                    break;
                default:
                    day='th';
                    break;
            }
            return payDay + day + ' of the month';
        }



        }

    }
</script>