<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-container>
            <v-breadcrumbs :items="items"></v-breadcrumbs>
            <v-card flat>
                <v-card-title class="headline">New employee</v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap class="">
                            <v-flex xs12 class="text-center">
                                <v-avatar size="150" color="primary">
                                    <v-icon size="100" dark v-show="photoCheck==null || photoCheck==false">person</v-icon>
                                    <img v-if="photoCheck==true" :src="photoPath" alt="">
                                </v-avatar>
                                <upload-button
                                        ref="button"
                                        @file-update="photoUpload"
                                        title="Photo"
                                        color="white"
                                        class="photo-upload-button"
                                        :disabled="uploadStatus==1"
                                >
                                    <template slot="icon-left">
                                        <v-icon  left>attach_file</v-icon>
                                    </template>
                                </upload-button>
                                <div v-if="photoCheck==true">
                                    <v-icon color="success">check_circle</v-icon> Photo uploaded
                                </div>
                                <div v-else-if="photoCheck==false">
                                    <v-icon color="error">close</v-icon> Photo upload failed
                                    <v-icon color="success" @click="photoUpload(photoFile)">refresh</v-icon>
                                </div>
                                <br>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="firstName"
                                        label="First Name"
                                        required
                                        :rules="[rules.required]"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="middleName"
                                        label="Middle Name"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="lastName"
                                        label="Last Name"
                                        required
                                        :rules="[rules.required]"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="phoneNumberMobile"
                                        label="Phone Number Mobile"
                                        required
                                        :rules="[rules.phoneNumberLength,rules.required]"
                                        prefix="+265"
                                        maxlength="12"
                                        v-mask="mask"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="phoneNumberWork"
                                        label="Phone Number Work"
                                        required
                                        :rules="[rules.phoneNumberLength,rules.required]"
                                        prefix="+265"
                                        maxlength="12"
                                        v-mask="mask"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="email"
                                        label="E-mail"
                                        required
                                        prepend-inner-icon="email"
                                        :rules="[rules.email,rules.required]"
                                        outlined
                                        clearable
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field
                                        v-model="position"
                                        label="Position"
                                        required
                                        :rules="[rules.required]"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 class="grey--text"><div>Residential Address</div></v-flex>
                            <v-flex xs12>
                                <v-icon v-if="physicalAddressCheck==true" color="success">check_circle</v-icon> {{computePhysicalAddress}}
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field
                                        v-model="physicalAddressName"
                                        label="Physical Address"
                                        required
                                        :rules="[rules.required]"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="physicalAddressBox"
                                        required
                                        :rules="[rules.required]"
                                        prefix="P. O. Box"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="physicalAddressLocation"
                                        required
                                        :rules="[rules.required]"
                                        label="District"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 class="grey--text"><div>Work Address</div></v-flex>
                            <v-flex xs12>
                                <v-icon v-if="workAddressCheck==true" color="success">check_circle</v-icon> {{computeWorkAddress}}
                            </v-flex>
                            <!--<v-flex xs12>-->
                                <!--<v-text-field-->
                                        <!--v-model="workAddressName"-->
                                        <!--label=""-->
                                        <!--outlined-->
                                <!--&gt;</v-text-field>-->
                            <!--</v-flex>-->
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="workAddressBox"
                                        required
                                        :rules="[rules.required]"
                                        prefix="P. O. Box"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="workAddressLocation"
                                        required
                                        :rules="[rules.required]"
                                        label="District"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        v-model="nationalIdNumber"
                                        label="National ID Number"
                                        counter
                                        required
                                        :rules="[rules.required,rules.nationalIdNumber]"
                                        maxlength="8"
                                        outlined
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 class="grey--text"><div>Contract Expiry Date</div></v-flex>
                            <v-flex xs12 sm6>
                                <v-btn outlined class="elevation-0" color="secondary" @click="durationModel=true">
                                    <!--<v-icon dark>access_time</v-icon>-->
                                    Set Expiry Date
                                </v-btn>
                                <div class=""><v-icon v-if="durationCheck==true" color="success">check_circle</v-icon> {{date}}</div>
                                <v-dialog v-model="durationModel" width="300">
                                    <v-date-picker
                                            v-model="date"
                                            no-title
                                            scrollable
                                            color="primary"
                                            :min="today"
                                    >
                                        <v-spacer></v-spacer>
                                        <v-btn text color="primary" @click="durationModel=false">Ok</v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
            </v-card>
            <div class="spacer"></div>
        </v-container>
        <div class="hint">
            <v-list v-if="!validation">
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title  style="color:#FF5252;">{{errorMessage}}</v-list-item-title>
                        <v-list-item-subtitle style="">{{errorSection}} Section</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <div v-else class="submitBtn">
                <div v-if="employeesStoreStatus==1">
                    <v-progress-circular
                            indeterminate
                            color="primary"
                    >
                    </v-progress-circular>
                </div>
                <div v-else>
                    <v-btn dark elevation="0" color="primary" @click="newEmployee">Save Employee</v-btn>
                    <!--<div>Add new employer</div>-->
                </div>
            </div>
        </div>
        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </div>
</template>

<script>
    import UploadButton from 'vuetify-upload-button'
    import  { mask } from 'vue-the-mask'

    export default {
        props:['id'],
        directives:{
            mask,
        },
        data: () => ({
            mask:'###-##-##-##',
            date:new Date().toISOString().substr(0,10),
            today:new Date().toISOString().substr(0,10),
            fileSelected:'',
            errorMessage:'',
            errorSection:'',

            photoCheck:null,
            photoPath:'',
            photoFile:'',

            firstName:'',
            middleName:'',
            lastName:'',
            phoneNumberMobile:'',
            phoneNumberWork:'',
            email:'',
            physicalAddressName:'',
            physicalAddressBox:'',
            physicalAddressLocation:'',

            workAddressName:'',
            workAddressBox:'',
            workAddressLocation:'',
            position:'',
            contractDuration:'',
            durationModel:false,

            nationalIdNumber:'',

            snackbar:false,
            snackbarMessage:'',
            rules: {
                required: value => value!=='' || 'Cannot be empty',
                nationalIdNumber: value => (value||'').length === 8 || 'Invalid National ID',
                phoneNumberLength: value => (value||'').length === 12 || 'Invalid phone number',
                number: value => !isNaN(value) || 'Invalid account number',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                },
            },
        }),
        components: {
            'upload-button':UploadButton,

        },
        created(){

        },
        mounted(){

        },
        computed: {
            items:function () {
              return [{
                    text:'Employers',
                    href:'#/employers',
                    disabled:false
                },{
                    text:'Employer Details',
                    href:'#/employers/'+this.id,
                    disabled:false
                },{
                    text:'New employee',
                    disabled:true
                }]
            },
            validation:function () {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

              /*  //personal information
                if (this.photoCheck!==true || this.photoCheck===null){
                    this.errorSection='Photo';
                    this.errorMessage='Upload a photo';
                    return false;
                }
                else*/ if ((this.firstName).length===0){
                    this.errorSection='First Name';
                    this.errorMessage='Enter all the details';
                    return false;
                }
                else if ((this.lastName).length===0 ){
                    this.errorSection='Last Name';
                    this.errorMessage='Enter all the details';
                    return false;
                }
                else if ( (this.phoneNumberMobile).length<12){
                    this.errorSection='Phone Number Mobile';
                    this.errorMessage='Enter a valid phone number';
                    return false;
                }
                else if ((this.phoneNumberWork).length<12 ){
                    this.errorSection='Phone Number Work';
                    this.errorMessage='Enter a valid phone number';
                    return false;
                }
                else if ((this.email).length===0 || !pattern.test(this.email) ){
                    this.errorSection='Email';
                    this.errorMessage='Enter an e-mail';
                    return false;
                }
                else if((this.position).length===0){
                    this.errorSection='Position';
                    this.errorMessage='Enter a position';
                    return false;
                }
                else if ( (this.physicalAddressName).length===0 || (this.physicalAddressBox).length===0 || (this.physicalAddressLocation).length===0 || (this.computePhysicalAddress).length===2){
                    this.errorSection='Physical Address';
                    this.errorMessage='Enter a valid physical address';
                    return false;
                }
                else if ((this.workAddressBox).length===0 || (this.workAddressLocation).length===0 || (this.computeWorkAddress).length===2 ){
                    this.errorSection='Work Address';
                    this.errorMessage='Enter a valid work address';
                    return false;
                }
                else if((this.nationalIdNumber).length<8){
                    this.errorSection='National Id Number';
                    this.errorMessage='Enter a national Id number';
                    return false;
                }
                else if(this.duration===this.todayTimestamp){
                    this.errorSection='Contract duration';
                    this.errorMessage='Set a contract expiry date';
                    return false;
                }

                //identifications details

                else
                    return true
            },
            computePhysicalAddress(){
                let box=(this.physicalAddressBox).length!==0?'P. O. Box '+this.physicalAddressBox:'';
                return this.physicalAddressName+' '+ box + ' '+ this.physicalAddressLocation;
            },
            computeWorkAddress(){
                let box=(this.workAddressBox).length!==0?'P. O. Box '+this.workAddressBox:'';
                return /*this.workAddressName+' '+*/ box + ' '+ this.workAddressLocation;
            },
            physicalAddressCheck:function () {
                return ((this.physicalAddressName).length===0 || (this.physicalAddressBox).length===0 || (this.physicalAddressLocation).length===0 )?false:true;
            },
            workAddressCheck:function () {
                return ( (this.workAddressBox).length===0 || (this.workAddressLocation).length===0 )?false:true;
            },
            duration:function () {
                return (new Date(this.date).getTime())/1000
            },
            todayTimestamp:function () {
                return (new Date(this.today).getTime())/1000
            },
            durationCheck:function () {
                return this.duration>this.todayTimestamp
            },
            uploadStatus:function () {
                return this.$store.getters.getUploadStatus;
            },
            employeesStoreStatus:function () {
                return this.$store.getters.getEmployeesStoreStatus;
            }

        },
        watch: {
            uploadStatus:function () {
                switch (this.uploadStatus) {
                    case 1:
                        this.snackbarMessage = "Uploading file.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully uploaded.";
                        this.photoCheck=true;
                        this.photoFile='';
                        this.photoPath=this.$store.getters.getUploadedFile;
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        this.photoCheck=false;
                        break;
                    case 4:
                        this.snackbarMessage = "Uploading was unsuccessful. Try again.";
                        this.photoCheck=false;
                        break;
                    case 5:
                        this.snackbarMessage = "Invalid photo extension. Try again.";
                        this.photoCheck=false;
                        break;
                    case 6:
                        this.snackbarMessage = "Invalid file extension. Try again.";
                        this.photoCheck=false;
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },
            employeesStoreStatus:function () {
                switch (this.employeesStoreStatus) {
                    case 1:
//                        this.snackbarMessage = "Submitting details.";
                        break;
                    case 2:
                        this.$router.push({name:'employer',params:{id:this.id}});
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        this.snackbar = true;
                        break;
                    case 4:
                        this.snackbarMessage = "Unsuccessful. Try again.";
                        this.snackbar = true;
                        break;
                    default:
                        break;
                }

            }

        },
        methods:{
            newEmployee(){
                this.$store.dispatch('storeEmployee',{
                    photo:this.photoPath,
                    firstName:this.firstName,
                    middleName:this.middleName,
                    lastName:this.lastName,
                    phoneNumberMobile:this.phoneNumberMobile,
                    phoneNumberWork:this.phoneNumberWork,
                    position:this.position,
                    email:this.email,
                    physicalAddress:{
                        name:this.physicalAddressName,
                        box:this.physicalAddressBox,
                        location:this.physicalAddressLocation,
                    },
                    workAddress:{
                        name:this.workAddressName,
                        box:this.workAddressBox,
                        location:this.workAddressLocation,
                    },
                    nationalIdNumber:this.nationalIdNumber,
                    contractDuration:this.duration,
                    employerId:this.id,
                    accessToken:this.$store.getters.getAccessToken
                })

            },
            photoUpload(file){
                const reader=new FileReader();
                if (file){
                    reader.readAsDataURL(file);
                    reader.onload=(e)=>{

                        this.photoFile=e.target.result;

                        this.$store.dispatch('uploadFile',{
                            name:'user',/* + ' '+ this.user.last_name,*/
                            file:e.target.result,
                            type:'photo_employee',
                            accessToken:this.$store.getters.getAccessToken
                        })
                    };
                }
            },

        }

    }
</script>