<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-container>
            <v-breadcrumbs :items="items"></v-breadcrumbs>
            <div class="text-center" v-if="employerLoadStatus==1">
                <v-progress-circular
                        indeterminate
                        color="primary"
                >
                </v-progress-circular>
            </div>
            <v-card flat v-else-if="employerLoadStatus==2">
                <v-card-title class="headline">Update Employer</v-card-title>
                <v-card-text>
                    <v-flex xs12>
                        <v-text-field
                                v-model="name"
                                label="Name"
                                required
                                :rules="[rules.required]"
                                outlined
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                                v-model="address"
                                label="Address"
                                required
                                :rules="[rules.required]"
                                outlined
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <div class="grey--text">Agreement Letter</div>
                        <upload-button
                                ref="button"
                                @file-update="agreementLetterFileChanged"
                                title="Select File"
                                color="white"
                                outlined
                                class="upload-button"
                                :disabled="uploadStatus==1"

                        >
                            <template slot="icon-left">
                                <v-icon  left>attach_file</v-icon>
                            </template>
                        </upload-button>
                        <div v-if="agreementLetterCheck==true">
                            <v-icon color="success">check_circle</v-icon> Agreement letter uploaded
                        </div>
                        <div v-else-if="agreementLetterCheck==false">
                            <v-icon color="error">close</v-icon> Agreement letter upload failed
                            <v-icon color="success" @click="agreementLetterFileChanged(agreementLetterFile)">refresh</v-icon>
                        </div>
                    </v-flex>
                </v-card-text>
                <div class="spacer"></div>
            </v-card>
            <div v-else-if="employerLoadStatus==3">
                <p>Error occured</p>
            </div>
            <div v-else-if="employerLoadStatus==4">
                <p>Could not load employer</p>
            </div>
        </v-container>
        <div class="hint" v-show="employerLoadStatus==2">
            <v-list v-if="!validation">
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title  style="color:#FF5252;">{{errorMessage}}</v-list-item-title>
                        <v-list-item-subtitle style="">{{errorSection}} Section</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <div v-else class="submitBtn">
                <div v-if="employersUpdateStatus==1">
                    <v-progress-circular
                            indeterminate
                            color="primary"
                    >
                    </v-progress-circular>
                </div>
                <div v-else>
                    <v-btn dark elevation="0" color="primary" @click="updateEmployer">Update Employer</v-btn>
                    <!--<div>Add new employer</div>-->
                </div>
            </div>
        </div>
        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </div>
</template>

<script>
     import UploadButton from 'vuetify-upload-button'

    export default {
        props:['id'],
        data: () => ({
            name:'',
            address:'',

            //agreement letter upload
            agreementLetterFile:'',
            agreementLetterPath:null,
            agreementLetterCheck:null,

            errorMessage:'',
            errorSection:'',

            snackbar:false,
            snackbarMessage:'',
            rules: {
                required: value => value!=='' || 'Cannot be empty',
            },
        }),
        components: {
             'upload-button':UploadButton,
        },
        created(){
            this.$store.dispatch('showEmployer',{
                id:this.id,
                accessToken:this.$store.getters.getAccessToken
            });
        },
        mounted(){

        },
        computed: {
            items:function () {
              return [{
                    text:'Employers',
                    href:'#/employers',
                    disabled:false
                },{
                    text:'Employer details',
                    href:'#/employers/'+this.id,
                    disabled:false
                },{
                    text:'Update Employer',
                    disabled:true
                }]
            },
            employer:function () {
                return this.$store.getters.getEmployer;
            },
            employerLoadStatus:function () {
                return this.$store.getters.getEmployerLoadStatus;
            },
            validation:function () {
                if ((this.name).length===0){
                    this.errorMessage='Enter name';
                    this.errorSection='Name';
                    return false;
                }else if ((this.address).length===0){
                    this.errorMessage='Enter address';
                    this.errorSection='Address';
                    return false;
                }else if (this.agreementLetterCheck!==true){
                    this.errorMessage='Upload the letter';
                    this.errorSection='Agreement Letter';
                    return false;
                }
                else
                    return true
            },
            employersUpdateStatus:function () {
                return this.$store.getters.getEmployersUpdateStatus;
            },
            uploadStatus:function () {
                return this.$store.getters.getUploadStatus;
            },
        },
        watch: {
            employerLoadStatus:function () {
                switch (this.employerLoadStatus) {
                    case 1:
//
                        break;
                    case 2:
                        this.name=this.employer.employer.name;
                        this.address=this.employer.employer.address;

                        if(this.employer.employer.letter!==null) {
                            this.agreementLetterCheck=true;
                            this.agreementLetterPath=this.employer.employer.letter;
                        }
                        break;
                    case 3:

                        break;
                    case 4:

                        break;
                    default:
                        break;
                }

            },
            employersUpdateStatus:function () {
                switch (this.employersUpdateStatus) {
                    case 1:
//                        this.snackbarMessage = "Submitting details.";
                        break;
                    case 2:
//
                        this.$router.push({name:'employer',params:{id:this.$store.getters.getEmployerData}});
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        this.snackbar = true;
                        break;
                    case 4:
                        this.snackbarMessage = "Unsuccessful. Try again.";
                        this.snackbar = true;
                        break;
                    default:
                        break;
                }
            },
            uploadStatus:function () {
                switch (this.uploadStatus) {
                    case 1:
                        this.snackbarMessage = "Uploading file.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully uploaded.";
                        this.agreementLetterCheck=true;
                        this.agreementLetterPath=this.$store.getters.getUploadedFile;
                        this.agreementLetterFile='';

                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        this.agreementLetterCheck=false;
                        break;
                    case 4:
                        this.snackbarMessage = "Uploading was unsuccessful. Try again.";
                        this.agreementLetterCheck=false;
                        break;
                    case 5:
                        this.snackbarMessage = "Invalid photo extension. Try again.";
                        this.agreementLetterCheck=false;
                        break;
                    case 6:
                        this.snackbarMessage = "Invalid file extension. Try again.";
                        this.agreementLetterCheck=false;
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },

        },
        methods:{
            updateEmployer(){
                this.$store.dispatch('updateEmployer',{
                    id:this.id,
                    name:this.name,
                    address:this.address,
                    letter:this.agreementLetterPath,
                    accessToken:this.$store.getters.getAccessToken
                })
            },
            agreementLetterFileChanged(file) {
                const reader = new FileReader();
                if (file) {
                    reader.readAsDataURL(file);
                    reader.onload = (e) => {

                        this.$store.dispatch('uploadFile', {
                            name: 'Agreement-Letter',
                            file: e.target.result,
                            type: 'agreement',
                            accessToken: this.$store.getters.getAccessToken
                        })
                    };
                }
            }

        }

    }
</script>