<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-container>
        <v-breadcrumbs :items="items"></v-breadcrumbs>
            <div v-if="userLoadStatus==1" class="text-center">
                <v-progress-circular
                        indeterminate
                        color="primary"
                >
                </v-progress-circular>
            </div>
        <v-card color="" class="" flat v-if="userLoadStatus==2">

                <v-card-title class="headline">
                    {{user.firstName}} {{user.lastName}}
                </v-card-title>
                <v-card-subtitle >
                    {{user.employer.name}}
                </v-card-subtitle>
                <v-divider></v-divider>

                <v-card-text v-if="(loans).length>0">
                    <v-list>
                        <v-list-item
                                two-line
                                link
                                v-for="(loan,index) in loans"
                                :key="index"
                                :to="{name:'loan-admin',params:{code:loan.code}}"
                        >
                            <v-list-item-avatar>
                                <v-btn fab small dark :color="getStatusColor(loan.status)">{{index+1}}</v-btn>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title class="title" color="primary">MK{{loan.amount}}</v-list-item-title>
                                <v-list-item-subtitle v-show="loan.status==0" class="text--primary" color="primary">Applied on {{loan.updatedAt}}</v-list-item-subtitle>
                                <v-list-item-subtitle v-show="loan.status==1" class="text--primary" color="primary">Approved on {{loan.approvedDate}}</v-list-item-subtitle>
                                <v-list-item-subtitle v-show="loan.status==2" class="text--primary" color="primary">Over due from {{loan.dueDate}}</v-list-item-subtitle>
                                <v-list-item-subtitle v-show="loan.status==3" class="text--primary" color="primary">Closed on {{loan.updatedAt}}</v-list-item-subtitle>
                                <!--<v-list-item-subtitle>{{loan.firstName}} {{loan.lastName}}</v-list-item-subtitle>-->
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card-text>
                <v-card-text v-else>
                    No loans found
                </v-card-text>
                <v-flex v-show="loansStatus==1" class="text-center"> <v-progress-circular indeterminate color="primary"></v-progress-circular></v-flex>
                <v-flex xs12 v-show="morePages && loansStatus==2"  class="text-center"><v-btn outlined color="primary" @click="loadMore">Load More</v-btn></v-flex>

            </v-card>
            <div v-else-if="userLoadStatus==3">
                Failed to load
            </div>
            <div v-else-if="userLoadStatus==4">
                Couldn't load user
            </div>
        </v-container>
            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>

    </div>
</template>

<script>


    export default {
        props:['id'],
        data: () => ({
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
//            Navigation
        },
        created(){
            this.$store.dispatch('showUser',{
                id:this.id,
                accessToken:this.$store.getters.getAccessToken
            });
            this.$store.dispatch('indexLoanUserAdmin',{
                id:this.id,
                accessToken:this.$store.getters.getAccessToken
            });

        },
        mounted(){

        },
        computed: {
            items:function () {
                return [{
                    text:'Users',
                    href:'#/users',
                    disabled:false
                },{
                    text:'User details',
                    disabled:true
                }]
            },
            user:function () {
                return this.$store.getters.getCurrentUser;
            },
            userLoadStatus:function () {
                return this.$store.getters.getUserLoadStatus;
            },
            loans:function () {
                return this.$store.getters.getLoans;
            },
            loansStatus:function () {
                return this.$store.getters.getLoansLoadStatus;
            },
            morePages:function () {
                return this.$store.getters.getLoansMorePages;
            },
        },
        watch: {

        },
        methods:{
            loadMore:function () {
                this.$store.dispatch('indexLoanUserAdminAppend',{
                    id:this.id,
                    accessToken:this.$store.getters.getAccessToken
                });
            },
            getStatusColor(status){
                switch (status){
                    case 0:
                        return 'warning';
                        break;
                    case 1:
                        return 'success';
                        break;
                    case 2:
                        return 'error';
                        break;
                    case 3:
                        return 'primary';
                        break;
                    default:
                        break;
                }
            },


        }

    }
</script>