<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-card color="" class="" flat>
            <v-container>
                <v-card-title class="headline">
                    Manage Users
                </v-card-title>
                <v-divider></v-divider>
                <!--<v-card-subtitle >-->
                    <!--<v-btn color="primary" class="elevation-0">+ New User</v-btn>-->
                <!--</v-card-subtitle>-->

                <v-card-text>
                    <v-list  v-if="usersLoadStatus==2" >
                        <div v-if="(users).length>0">
                            <v-list-item
                                    three-line
                                    link
                                    v-for="user in users"
                                    :key="user.id"
                                    :to="{name:'user',params:{id:user.id}}"
                            >
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{user.firstName}} {{user.lastName}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">{{user.employer.name}}</v-list-item-subtitle>
                                    <v-list-item-subtitle>
                                        <v-chip label outlined>{{user.loans}} {{user.loans==1?'Loan':'Loans'}}</v-chip>
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </div>
                        <div v-else>
                            No users found
                        </div>

                    </v-list>
                    <v-flex v-show="usersLoadStatus==1" class="text-center"> <v-progress-circular indeterminate color="primary"></v-progress-circular></v-flex>
                    <v-flex xs12 v-show="morePages && usersLoadStatus==2"  class="text-center"><v-btn outlined color="primary" @click="loadMore">Load More</v-btn></v-flex>
                    <div v-if="usersLoadStatus==3">
                        Failed to load
                    </div>
                    <div v-else-if="usersLoadStatus==4">
                        Couldn't load users
                    </div>
                </v-card-text>
            </v-container>
            </v-card>

            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>

    </div>
</template>

<script>


    export default {
        data: () => ({
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
//            Navigation
        },
        created(){
            this.$store.dispatch('indexUser',{
                accessToken:this.$store.getters.getAccessToken
            });

        },
        mounted(){

        },
        computed: {
            users:function () {
                return this.$store.getters.getUsers;
            },
            usersLoadStatus:function () {
                return this.$store.getters.getUsersLoadStatus;
            },
            morePages:function () {
                return this.$store.getters.getMorePages;
            },
        },
        watch: {

        },
        methods:{
            loadMore:function () {
                this.$store.dispatch('appendUser',{
                    accessToken:this.$store.getters.getAccessToken
                });
            }


        }

    }
</script>