<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-container>
            <v-card flat>
            <!--<template v-slot:extension>-->
                <v-tabs
                        v-model="tab"


                >
                    <v-tabs-slider ></v-tabs-slider>

                    <v-tab>Dashboard</v-tab>
                    <v-tab>Loans</v-tab>
                </v-tabs>
            <!--</template>-->
            <v-tabs-items
                    v-model="tab"
                    color="white">
                <v-tab-item key="0">
                    <br>
                    <!--<v-card flat >-->

                        <!--<v-card-title class="headline">-->
                            <!--Current loan-->
                        <!--</v-card-title>-->
                        <!--<v-card-text>-->
                    <v-card flat v-if="loanStatus==1 || contentsStatus==1">
                        <v-card-text class="text-center">
                            <v-progress-circular
                                    indeterminate
                                    color="primary"
                            >
                            </v-progress-circular>
                        </v-card-text>
                    </v-card>

                    <v-card flat dark color="primary" outlined hover  v-else-if="loanStatus==2" :to="{name:'loan',params:{code:loan.code}}">
                        <v-card-text>
                            <div class="display-1">MK{{loan.amount}}</div>
                            <div> <v-icon :color="getStatusColor(loan.progress)">info</v-icon> {{getStatus(loan.progress)}}</div>
                            <!--<div>Some text</div>-->
                        </v-card-text>
                    </v-card>


                            <!--<v-card flat  outlined v-else-if="loanStatus==3">-->
                                <!--<v-card-text>-->
                                    <!--Current loan failed to load-->
                                <!--</v-card-text>-->
                            <!--</v-card>-->
                            <!--<v-card flat  outlined v-else-if="loanStatus==4">-->
                                <!--<v-card-text>-->
                                    <!--Apply for a loan-->
                                <!--</v-card-text>-->
                            <!--</v-card>-->
                        <!--</v-card-text>-->
                    <!--</v-card>-->

                    <v-card flat v-if="contentsStatus==2">

                        <v-card-title class="headline">
                           {{contents.dashboard.title}}
                        </v-card-title>
                        <v-card-subtitle>
                            You can borrow {{contents.amountLimit.lower}} to {{contents.amountLimit.upper}} and pay back an interest of {{(contents.interest)*100}}% until your payday. Zachangu will charge {{contents.fee}} Malawi Kwacha as bank transaction fee for all transactions made.
                        </v-card-subtitle>

                        <v-card-text >
                            <v-flex xs12>For example</v-flex>
                            <br>
                            <v-flex xs12>
                                <v-text-field
                                        v-model="amount"
                                        label="Enter Amount"
                                        required
                                        outlined
                                        clearable
                                        :hint="'Between MK' + contents.amountLimit.lower + ' and MK' + contents.amountLimit.upper"
                                        persistent-hint
                                        prefix="MK"
                                ></v-text-field>
                            </v-flex>
                            <v-flex>
                                <v-list>
                                    <v-list-item two-line>
                                        <v-list-item-content>
                                            <v-list-item-title>MK{{contents.fee}}</v-list-item-title>
                                            <v-list-item-subtitle>Bank Sending Fee</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item two-line>
                                        <v-list-item-content>
                                            <v-list-item-title>MK{{validation?amountReceived:'0'}}</v-list-item-title>
                                            <v-list-item-subtitle>Amount Received</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-divider></v-divider>
                                    <v-list-item two-line>
                                        <v-list-item-content>
                                            <v-list-item-title>MK{{contents.fee}}</v-list-item-title>
                                            <v-list-item-subtitle>Bank Withdrawal Fee</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item two-line>
                                        <v-list-item-content>
                                            <v-list-item-title>MK{{validation?interest:'0'}}</v-list-item-title>
                                            <v-list-item-subtitle>Interest charged</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item two-line>
                                        <v-list-item-content>
                                            <v-list-item-title>MK{{validation?amountToPay:'0'}}</v-list-item-title>
                                            <v-list-item-subtitle>Amount to pay back</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>
                            </v-flex>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item key="1">
                    <br>
                    <v-card v-if="loanStatus==2" class="mb-4">
                        <!--<div>Current loan</div>-->
                        <v-list >
                            <v-subheader>Current loan</v-subheader>
                            <!--<v-divider></v-divider>-->
                            <v-list-item two-line link :to="{name:'loan',params:{code:loan.code}}">
                                <v-list-item-icon><v-icon :color="getStatusColor(loan.progress)">info</v-icon></v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title>MK{{loan.amount}}</v-list-item-title>
                                    <v-list-item-subtitle>{{getStatus(loan.progress)}}</v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-btn fab text small><v-icon>{{getStatusIcon(loan.progress)}}</v-icon></v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>

                    </v-card>
                    <!--<br>-->
                    <v-card v-if="(loans).length>0">
                        <v-list >
                            <v-subheader>History</v-subheader>
                            <!--<v-divider></v-divider>-->
                            <v-list-item two-line v-for="loan in loans" :key="loan.id" v-if="loan.progress==3" link :to="{name:'loan',params:{code:loan.code}}">
                                <v-list-item-icon><v-icon :color="getStatusColor(loan.progress)">info</v-icon></v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title>MK{{loan.amount}}</v-list-item-title>
                                    <v-list-item-subtitle>{{getStatus(loan.progress)}}</v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-btn fab text small><v-icon>{{getStatusIcon(loan.progress)}}</v-icon></v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                    </v-card>
                    <div v-show="loanStatus==4 && (loans).length==0">
                        No loans found
                    </div>
                </v-tab-item>
            </v-tabs-items>
                <div class="spacer"></div>

            <!--<template v-slot:extension>-->
                <!--<v-btn-->

                        <!--dark-->
                        <!--fixed-->
                        <!--bottom-->
                        <!--right-->
                        <!--fab-->
                        <!--@click="getLoan"-->
                <!--&gt;-->
                    <!--<v-icon>add</v-icon>-->
                <!--</v-btn>-->
            <!--</template>-->
            <v-dialog v-model="getLoanDialog" width="300">
                <v-card>
                    <v-card-title>Not eligible to apply</v-card-title>
                    <v-card-text class="grey--text" v-if="!eligibility.employee">
                        You are not among the employees from {{user.employer.name}} that can get a loan. Please contact your employer.
                    </v-card-text>
                    <v-card-text class="grey--text" v-else-if="!eligibility.loan">
                        You already have a loan.
                    </v-card-text>
                    <v-card-text class="grey--text" v-else-if="!eligibility.contract">
                        Your contract is invalid. It wil expire in less than 3 months.
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text @click="getLoanDialog=false">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>
        </v-card>
        </v-container>
        <div class="hint" v-show="eligibilityStatus==2">
            <div class="submitBtn">
                <v-btn dark elevation="0" color="primary" @click="getLoan">APPLY FOR LOAN</v-btn>
            </div>
        </div>
    </div>

</template>

<script>


    export default {
        data: () => ({
            tab:null,
            getLoanDialog:false,
            amount:5000,
            snackbar:false,
            snackbarMessage:'',

            rules: {
//                counter: value => value >= 5000 && value <=10000 || 'Between MK5000 and MK10000',
            },
        }),
        components: {

        },
        created(){
            this.$store.dispatch('userEligibility',{
                id:this.$store.getters.getUserId,
                accessToken:this.$store.getters.getAccessToken
            });
            this.$store.dispatch('showLoan',{
                type:'none',
                code:'none',
                userId:this.$store.getters.getUserId,
                accessToken:this.$store.getters.getAccessToken
            });

            this.$store.dispatch('indexLoan',{
                userId:this.$store.getters.getUserId,
                accessToken:this.$store.getters.getAccessToken
            });

        },
        mounted(){

        },
        computed: {
            eligibility:function () {
                return this.$store.getters.getEligibility;
            },
            eligibilityStatus:function () {
                return this.$store.getters.getEligibilityStatus;
            },
            user:function () {
                return this.$store.getters.getUser;
            },
            loan:function () {
                return this.$store.getters.getLoan;
            },
            loanStatus:function () {
                return this.$store.getters.getLoanLoadStatus;
            },
            loans:function () {
                return this.$store.getters.getLoans;
            },
            loansStatus:function () {
                return this.$store.getters.getLoansLoadStatus;
            },
            validation:function () {
                return (this.amount>=this.contents.amountLimit.lower && this.amount<=this.contents.amountLimit.upper);
            },
            interest:function () {
                return Math.round(this.amount*this.contents.interest);
            },
            amountReceived:function () {
                return Math.round(this.amount-this.contents.fee);
            },
            amountToPay:function () {
                return Math.round(this.amount *(this.contents.interest + 1) + this.contents.fee);
            },
            contents:function () {
                return this.$store.getters.getContents;
            },
            contentsStatus:function () {
                return this.$store.getters.getContentsLoadStatus;
            },



        },
        watch: {

        },
        methods:{
            getLoan(){
                if(this.eligibility.status===true)
                    this.$router.push('/loan-application-form');
                else
                    this.getLoanDialog=true;
            },
            getStatus(progress){
                switch (progress){
                    case '0':
                        return 'Finish the applying process';
                        break;
                    case '1':
                        return 'Waiting for approval';
                        break;
                    case '2':
                        return 'Active';
                        break;
                    case '3':
                        return 'Closed';
                        break;
                    default:
                        return 'Nothing';
                        break;
                }
            },
            getStatusColor(progress){
                switch (progress){
                    case '0':
                        return 'warning';
                        break;
                    case '1':
                        return 'warning';
                        break;
                    case '2':
                        return 'success';
                        break;
                    case '3':
                        return 'primary';
                        break;
                    default:
                        break;
                }
            },
            getStatusIcon(progress){
                switch (progress){
                    case '0':
                        return 'edit';
                        break;
                    case '1':
                        return 'remove_red_eye';
                        break;
                    case '2':
                        return 'remove_red_eye';
                        break;
                    case '3':
                        return 'lock';
                        break;
                    default:
                        break;
                }
            },

        }
    }
</script>