<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">

    .footer{
        position: fixed;
        width: 100%;
        /*box-shadow: 0 4px 10px rgba(0,0,0,.3);*/
        bottom:0;
        padding:16px;
        text-align: center;
        border-top:0.5px solid rgba(0,0,0,0.15);
        background-color: #fafafa;
    }



    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
        <v-container>
            <v-card flat v-if="contentsStatus==2">

                <v-card-title class="headline">
                    {{contents.welcome.title}}
                </v-card-title>
                <v-card-subtitle>
                    {{contents.welcome.subtitle}}
                </v-card-subtitle>

                <v-card-text>
                    <v-autocomplete
                            v-model="employer"
                            :items="employers"
                            label="Select Employer"
                            item-text="name"
                            item-value="slug"
                            attach
                            return-object
                            outlined
                    >
                        <template
                                slot="item"
                                slot-scope="data"
                        >
                            <template>
                                <v-list-item-content>
                                    <v-list-item-title v-html="data.item.name"></v-list-item-title>
                                    <v-list-item-subtitle v-html="data.item.address"></v-list-item-subtitle>
                                </v-list-item-content>
                            </template>
                        </template>
                    </v-autocomplete>
                    <v-btn v-show="employer!==null" dark tile depressed @click="proceed">Proceed</v-btn>
                </v-card-text>
            </v-card>
        </v-container>
        <div class="footer">
            <div class="caption grey--text mb-1"><v-icon>copyright</v-icon> ZACHANGULOANS {{new Date().getFullYear()}}</div>
            <v-chip small color="primary" label @click="contact=true">Contact us</v-chip>
            <v-chip small color="primary" label @click="about=true">About</v-chip>
        </div>
        <v-dialog v-model="contact" max-width="600" v-if="contentsStatus==2">
            <v-card flat class="">
                <v-card-title class="">Contact us</v-card-title>
                <v-card-subtitle class="">We would like to hear from you</v-card-subtitle>
                <v-card-text>
                    <v-form
                        ref="form"
                    >
                        <div>
                            <v-text-field
                                    v-model="name"
                                    label="Full Name"
                                    required
                                    :rules="[rules.required]"
                                    outlined
                            ></v-text-field>
                        </div>
                        <div>
                            <v-text-field
                                    v-model="email"
                                    label="E-mail"
                                    required
                                    :rules="[rules.email,rules.required]"
                                    outlined
                                    clearable
                            ></v-text-field>
                        </div>
                        <div>
                            <v-textarea
                                    v-model="message"
                                    label="Message"
                                    outlined
                            ></v-textarea>
                        </div>
                    </v-form>


                    <div class="grey--text mt-5">{{contents.home.contactInformation.address}}</div>
                    <div class="grey--text">{{contents.home.contactInformation.phoneNumber}}</div>
                    <div class="grey--text">{{contents.home.contactInformation.email}}</div>
                    <!--<v-list>-->
                    <!--<v-list-item two-line>-->
                    <!--&lt;!&ndash;<v-list-item-icon>&ndash;&gt;-->
                    <!--&lt;!&ndash;<v-icon>location_on</v-icon>&ndash;&gt;-->
                    <!--&lt;!&ndash;</v-list-item-icon>&ndash;&gt;-->
                    <!--<v-list-item-content>-->
                    <!--<v-list-item-title>{{contents.home.contactInformation.address}}</v-list-item-title>-->
                    <!--&lt;!&ndash;<v-list-item-subtitle>Address</v-list-item-subtitle>&ndash;&gt;-->
                    <!--</v-list-item-content>-->
                    <!--</v-list-item>-->
                    <!--<v-list-item>-->
                    <!--&lt;!&ndash;<v-list-item-icon>&ndash;&gt;-->
                    <!--&lt;!&ndash;<v-icon>phone</v-icon>&ndash;&gt;-->
                    <!--&lt;!&ndash;</v-list-item-icon>&ndash;&gt;-->
                    <!--<v-list-item-content>-->
                    <!--<v-list-item-title>{{contents.home.contactInformation.phoneNumber}}</v-list-item-title>-->
                    <!--</v-list-item-content>-->
                    <!--</v-list-item>-->
                    <!--<v-list-item>-->
                    <!--&lt;!&ndash;<v-list-item-icon> <v-icon>email</v-icon></v-list-item-icon>&ndash;&gt;-->
                    <!--<v-list-item-content>-->
                    <!--<v-list-item-title>{{contents.home.contactInformation.email}}</v-list-item-title>-->
                    <!--</v-list-item-content>-->
                    <!--</v-list-item>-->
                    <!--</v-list>-->
                </v-card-text>
                <!--<v-container grid-list-md>-->
                    <!--<v-layout wrap>-->
                        <!--<v-flex xs12>-->
                           <!---->
                        <!--</v-flex>-->
                        <!--<v-flex xs12>-->
                            <!--<v-card-text>-->
                                <!--<div class="grey&#45;&#45;text">Contact information</div>-->
                                <!--<v-list>-->
                                    <!--<v-list-item two-line>-->
                                        <!--&lt;!&ndash;<v-list-item-icon>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<v-icon>location_on</v-icon>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</v-list-item-icon>&ndash;&gt;-->
                                        <!--<v-list-item-content>-->
                                            <!--<v-list-item-title>{{contents.home.contactInformation.address}}</v-list-item-title>-->
                                            <!--&lt;!&ndash;<v-list-item-subtitle>Address</v-list-item-subtitle>&ndash;&gt;-->
                                        <!--</v-list-item-content>-->
                                    <!--</v-list-item>-->
                                    <!--<v-list-item>-->
                                        <!--&lt;!&ndash;<v-list-item-icon>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<v-icon>phone</v-icon>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</v-list-item-icon>&ndash;&gt;-->
                                        <!--<v-list-item-content>-->
                                            <!--<v-list-item-title>{{contents.home.contactInformation.phoneNumber}}</v-list-item-title>-->
                                        <!--</v-list-item-content>-->
                                    <!--</v-list-item>-->
                                    <!--<v-list-item>-->
                                        <!--&lt;!&ndash;<v-list-item-icon> <v-icon>email</v-icon></v-list-item-icon>&ndash;&gt;-->
                                        <!--<v-list-item-content>-->
                                            <!--<v-list-item-title>{{contents.home.contactInformation.email}}</v-list-item-title>-->
                                        <!--</v-list-item-content>-->
                                    <!--</v-list-item>-->
                                <!--</v-list>-->
                            <!--</v-card-text>-->
                        <!--</v-flex>-->
                    <!--</v-layout>-->
                <!--</v-container>-->

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" :disabled="!validation || feedbackStatus==1" @click="sendMessage">Send</v-btn>
                    <v-btn color="primary" text @click="contact=false">Close</v-btn>
                </v-card-actions>

            </v-card>
        </v-dialog>
        <v-dialog v-model="about" max-width="600" v-if="contentsStatus==2">
            <v-card>
                <v-card-title class="">{{contents.home.about.title}}</v-card-title>
                <!--<v-card-subtitle class=" grey&#45;&#45;text">Information you need to know</v-card-subtitle>-->
                <v-card-text class="text-justify" v-html="contents.home.about.body">
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="about=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </div>
</template>

<script>


    export default {
        data: () => ({
            employer:null,
            about:false,
            contact:false,

            email:'',
            name:'',
            message:'',

            snackbar:false,
            snackbarMessage:'',
            rules: {
                required: value => value!=='' || 'Cannot be empty',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                },
            },
        }),
        components: {

        },
        created(){


        },
        mounted(){

        },
        computed: {
            employers:function () {
                return this.$store.getters.getEmployers;
            },
            contents:function () {
               return this.$store.getters.getContents;
            },
            contentsStatus:function () {
                return this.$store.getters.getContentsLoadStatus;
            },
            feedbackStatus:function () {
                return this.$store.getters.getFeedbackStatus;
            },
            validation(){
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                if(this.name && this.email && this.message){
                    if((this.name).length===0 || (this.email).length===0 || (this.message).length===0)
                        return false;
                    else if ( !pattern.test(this.email))
                        return false;
                    else
                        return true;
                }else
                    return false
            }
        },
        watch: {
            feedbackStatus:function () {
                switch (this.feedbackStatus) {
                    case 1:
//                        this.snackbarMessage = "Submitting details.";
                        break;
                    case 2:
                        this.$refs.form.reset();
                        this.snackbarMessage = "Message sent.";
                        this.snackbar = true;
                        break;
                    case 3:
                        this.snackbarMessage = "Message not sent. Try again.";
                        this.snackbar = true;
                        break;
                    case 4:
                        this.snackbarMessage = "Message not sent. Try again.";
                        this.snackbar = true;
                        break;
                    case 5:
                        this.snackbarMessage = "Failed check your connection.";
                        this.snackbar = true;
                        break;
                    case 6:
                        this.snackbarMessage = "Message not sent. Try again.";
                        this.snackbar = true;
                        break;
                    default:
                        break;
                }

            }

        },
        methods:{
            proceed(){
                this.$store.dispatch('selectedEmployer',{
                    employer:this.employer
                });
                this.$router.push('login');
            },
            sendMessage(){
                this.$store.dispatch('feedback',{
                    email:this.email,
                    name:this.name,
                    message:this.message,
                })
            }
        }
    }
</script>