<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">
    h1{
        color: rgba(0,0,0,.87);
    }
    h2{
        color: #3f3f3f;
    }
    h3{
        color: #3f3f3f;
    }
    h4{
        color: #3f3f3f;
    }
    h5{
        color: #3f3f3f;
    }
    h6{
        color: #3f3f3f;
    }
    p{
        /*color: #3f3f3f;*/
    }
    .v-btn  .v-btn__content{
        /*text-transform: capitalize;*/
    }
    .nav_spacer{
        height:69px;
        width:100%;
    }
    .wrapper{
        height:100vh;
    width:100%;

        div{
            margin:auto;
            height:200px;
            width:200px;
        }
    }

    .view{
        padding: 20px 0;
    }
</style>

<template>
    <v-app>
        <div v-if="contentsStatus==1">
            <v-layout
                    row
                    justify-center
                    justify-space-around
                    align-center
                    wrap
                    class="wrapper"

            >
                <div class="text-center">
                    <!--Loading...-->
                    <!--<img src="images/logo-1.svg" alt="">-->
                    <v-progress-circular
                            indeterminate
                            color="primary"
                    ></v-progress-circular>
                </div>
            </v-layout>
        </div>
        <div v-else-if="contentsStatus==2">
            <navigation></navigation>
            <div class="nav_spacer"></div>
            <div class="view">
                <router-view></router-view>
            </div>
        </div>
        <div v-else-if="contentsStatus==3 || contentsStatus==4">
            Site is temporarily down
        </div>

        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </v-app>
</template>

<script>
    import Navigation from '../../components/global/Navigation.vue';

    export default {
        data: () => ({
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
            Navigation,

        },
        created(){
            this.$store.dispatch('indexContent');
            this.$store.dispatch('indexEmployer');
        },
        mounted(){

        },

        computed: {
            contentsStatus:function () {
                return this.$store.getters.getContentsLoadStatus
            }

        },
        methods:{

        }

    }
</script>