<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">

    .license_agreement span{
        border-bottom: 0.5px solid #3f3f3f;
        font-weight: 500;
    }




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div>
    <v-container>
        <v-breadcrumbs :items="items"></v-breadcrumbs>
        <v-layout v-if="loanStatus==1" >
            <v-flex class="text-center">
                <v-progress-circular
                        indeterminate
                        color="primary"
                >
                </v-progress-circular>
            </v-flex>
        </v-layout>
        <div v-else-if="loanStatus==2" >
            <v-stepper
                    v-model="el"
                    vertical
                    class="elevation-0"
                    v-if="loan.progress==0"
            >
                <template>
                    <v-stepper-step
                            key="1-step"
                            step="1"
                            editable
                            edit-icon
                    >
                        Score
                    </v-stepper-step>
                    <v-stepper-content
                            key="1-content"
                            step="1"
                    >
                        <v-card flat>
                            <v-card-title class="headline">
                                Loan Score
                            </v-card-title>
                            <v-card-subtitle>
                                How best the loan has matched with details given by the employer. You may update the details submitted to get a better score.
                            </v-card-subtitle>
                            <v-card-text class="text-center">
                                <v-progress-circular
                                        rotate="-90"
                                        size="180"
                                        width="25"
                                        :value="loan.score"
                                        color="primary"

                                >{{loan.score}}%</v-progress-circular>
                            </v-card-text>
                            <v-card-text class="text-center">
                                <v-btn outlined :to="{name:'loan-update',params:{code:code}}">Update Loan Details</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-stepper-content>
                </template>
                <template>
                    <v-stepper-step
                            key="2-step"
                            step="2"
                            :editable="score"
                            edit-icon
                    >
                        Status
                    </v-stepper-step>
                    <v-stepper-content
                            key="2-content"
                            step="2"
                            v-if="eligibilityStatus==2"
                    >
                        <!--Greater than 6 months-->
                        <!--<v-card flat v-if="user.contract_duration_eligibility==2">-->
                            <!--&lt;!&ndash;<v-card-title class="headline">&ndash;&gt;-->
                                <!--&lt;!&ndash;Your subscription&ndash;&gt;-->
                            <!--&lt;!&ndash;</v-card-title>&ndash;&gt;-->
                            <!--<div>-->
                                <!--Your current contract expires in {{contractDuration}}. Therefore you are subscribed for the next 3 months.-->
                            <!--</div>-->
                        <!--</v-card>-->
                        <!--Greater than 3 months-->
                        <v-card flat >
                            <v-card-title class="headline">
                                Contract
                            </v-card-title>
                            <v-card-text v-if="contract">
                                Your current contract expires in {{contractDuration}}.
                            </v-card-text>
                            <!--Less than 3 months-->
                            </v-card-title>
                            <v-card-text v-else>
                                Your current contract is invalid. It has or will expire in less than 3 months.
                            </v-card-text>
                        </v-card>
                        <v-card flat >
                            <v-card-title class="headline">
                                Subscription
                            </v-card-title>
                            <v-card-text>
                                You are subscribed until {{subscription}} from now. You are able to apply for loans without filling the entire form.
                            </v-card-text>
                        </v-card>


                    </v-stepper-content>
                </template>
                <!--<template>-->
                    <!--<v-stepper-step-->
                            <!--key="3-step"-->
                            <!--step="3"-->
                            <!--:editable="subscription && score"-->
                            <!--edit-icon-->
                    <!--&gt;-->
                        <!--Consent form-->
                    <!--</v-stepper-step>-->
                    <!--<v-stepper-content-->
                            <!--key="3-content"-->
                            <!--step="3"-->
                    <!--&gt;-->
                        <!--<v-layout row>-->
                            <!--<v-card flat>-->
                                <!--<v-card-title class="headline">-->
                                    <!--Download form-->
                                <!--</v-card-title>-->
                                <!--<v-card-subtitle>-->
                                    <!--Upon downloading, you are required to get this form signed. You can use any of these online platforms;-->
                                <!--</v-card-subtitle>-->

                                <!--<v-card-text >-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">Free sign online</a></li>-->
                                        <!--<li><a href="#">Free sign online</a></li>-->
                                        <!--<li><a href="#">Free sign online</a></li>-->
                                    <!--</ul>-->
                                <!--</v-card-text>-->
                                <!--<v-card-text class="">-->
                                    <!--<v-btn color="primary" outlined class="elevation-0" @click="exportPDF">Download</v-btn>-->
                                <!--</v-card-text>-->
                            <!--</v-card>-->
                        <!--</v-layout>-->
                        <!--<v-layout row>-->
                            <!--<v-card flat>-->
                                <!--<v-card-title class="headline">-->
                                    <!--Upload form-->
                                <!--</v-card-title>-->
                                <!--<v-card-subtitle>-->
                                    <!--Ensure the form has been signed-->
                                <!--</v-card-subtitle>-->
                                <!--<v-card-text class="">-->
                                    <!--<v-flex xs12>-->
                                        <!--<upload-button-->
                                                <!--ref="button"-->
                                                <!--@file-update="consentFileChanged"-->
                                                <!--title="Consent"-->
                                                <!--color="white"-->
                                                <!--class="upload-button"-->
                                        <!--&gt;-->
                                            <!--<template slot="icon-left">-->
                                                <!--<v-icon  left>attach_file</v-icon>-->
                                            <!--</template>-->
                                        <!--</upload-button>-->
                                        <!--<div v-if="consentCheck==true">-->
                                            <!--<v-icon color="success">check_circle</v-icon> Consent uploaded-->
                                        <!--</div>-->
                                        <!--<div v-else-if="consentCheck==false">-->
                                            <!--<v-icon color="error">close</v-icon> Consent upload failed-->
                                            <!--<v-icon color="success" @click="consentFileChanged(consentFile)">refresh</v-icon>-->
                                        <!--</div>-->
                                    <!--</v-flex>-->
                                <!--</v-card-text>-->
                            <!--</v-card>-->
                        <!--</v-layout>-->
                    <!--</v-stepper-content>-->
                <!--</template>-->
                <template>
                    <v-stepper-step
                            key="3-step"
                            step="3"
                            :editable="contract && score"
                            edit-icon
                    >
                        Terms and conditions
                    </v-stepper-step>
                    <v-stepper-content
                            key="3-content"
                            step="3"
                    >
                        <v-layout row>
                            <v-card flat>
                                <!--<v-card-title class="title">-->
                                    <!--Download form-->
                                <!--</v-card-title>-->
                                <!--<v-card-subtitle>-->
                                    <!--Upon downloading, you are required to get this document signed. You can use any of these online platforms;-->
                                <!--</v-card-subtitle>-->


                                <v-card-text>
                                    <!--<v-checkbox-->
                                        <!--v-model="consentCheck"-->
                                        <!--label="I accept the terms in the License Agreement"-->
                                    <!--&gt;-->

                                    <!--</v-checkbox>-->
                                    <input type="checkbox" id="terms_and_conditions" v-model="terms_and_conditions">
                                    <span>I accept the terms in the <a class="underline" @click="termsAndConditionsDialog=true">License Agreement</a></span>
                                    <!--<label for="terms_and_conditions">I accept the terms in the <a class="underline" @click="termsAndConditionsDialog=true">License Agreement</a></label>-->
                                </v-card-text>
                                <v-dialog v-model="termsAndConditionsDialog" width="600">
                                    <v-card >
                                        <!--<v-card-title>License Agreement</v-card-title>-->
                                        <!--<v-card-text>-->
                                            <div class="license_agreement pa-5" v-html="loan.generate_terms_and_conditions"></div>
                                        <!--</v-card-text>-->
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn @click="termsAndConditionsDialog=false" text>close</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                                <!--<v-expand-transition>-->
                                    <!--<v-card-text v-show="terms_and_conditions" transition="scroll-y-transition">-->
                                        <!--<v-layout row>-->
                                            <!--<v-card flat>-->
                                                <!--<v-card-title class="headline">-->
                                                    <!--Download document-->
                                                <!--</v-card-title>-->
                                                <!--<v-card-subtitle>-->
                                                    <!--Upon downloading, you are required to sign this document. You can use any of these online platforms;-->
                                                <!--</v-card-subtitle>-->

                                                <!--<v-card-text >-->
                                                    <!--<ul>-->
                                                        <!--<li><a href="https://smallpdf.com/sign-pdf" target="_blank">Smallpdf</a></li>-->
                                                        <!--<li><a href="https://www.digisigner.com/free-electronic-signature" target="_blank">Digisigner</a></li>-->
                                                        <!--<li><a href="https://www.google.com/search?q=free%20online%20sign" target="_blank">More from google</a></li>-->
                                                    <!--</ul>-->
                                                <!--</v-card-text>-->
                                                <!--<v-card-text class="">-->
                                                    <!--<v-btn color="primary" outlined class="elevation-0" :href="contents.termsAndConditions.file" target="_blank">Download</v-btn>-->
                                                <!--</v-card-text>-->
                                            <!--</v-card>-->
                                        <!--</v-layout>-->
                                        <!--<v-layout row>-->
                                            <!--<v-card flat>-->
                                                <!--<v-card-title class="headline">-->
                                                    <!--Upload document-->
                                                <!--</v-card-title>-->
                                                <!--<v-card-subtitle>-->
                                                    <!--Ensure the document has been signed-->
                                                <!--</v-card-subtitle>-->
                                                <!--<v-card-text class="">-->
                                                    <!--<v-flex xs12>-->
                                                        <!--<upload-button-->
                                                                <!--ref="button"-->
                                                                <!--@file-update="termsFileChanged"-->
                                                                <!--title="Select File"-->
                                                                <!--color="white"-->
                                                                <!--class="upload-button"-->
                                                        <!--&gt;-->
                                                            <!--<template slot="icon-left">-->
                                                                <!--<v-icon  left>attach_file</v-icon>-->
                                                            <!--</template>-->
                                                        <!--</upload-button>-->
                                                        <!--<div v-if="termsCheck==true">-->
                                                            <!--<v-icon color="success">check_circle</v-icon> Terms and conditions uploaded-->
                                                        <!--</div>-->
                                                        <!--<div v-else-if="termsCheck==false">-->
                                                            <!--<v-icon color="error">close</v-icon> Terms and conditions upload failed-->
                                                            <!--<v-icon color="success" @click="termsFileChanged(termsFile)">refresh</v-icon>-->
                                                        <!--</div>-->
                                                    <!--</v-flex>-->
                                                <!--</v-card-text>-->
                                            <!--</v-card>-->
                                        <!--</v-layout>-->
                                    <!--</v-card-text>-->
                                <!--</v-expand-transition>-->
                            </v-card>
                        </v-layout>

                    </v-stepper-content>
                </template>
                <div class="spacer"></div>
            </v-stepper>
            
            <!--Loan View-->
            <v-card flat v-else>
                <v-list>
                    <v-list-item two-line>
                        <v-list-item-avatar>
                            <v-btn fab small :color="getStatusColor(loan.status)"><v-icon >info</v-icon></v-btn>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="headline" color="primary"> MK{{loan.amount}}</v-list-item-title>
                            <!--<v-list-item-subtitle class="" color="primary">{{loan.firstName}} {{loan.lastName}}</v-list-item-subtitle>-->
                            <v-list-item-subtitle class="" color="primary">{{getStatus(loan.status)}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-card-text>
                    <v-list>
                        <!--<v-subheader>Loan Details</v-subheader>-->
                        <v-list-item two-line v-show="loan.status==0">
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.updatedAt}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Applied Date</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line v-show="loan.progress>=2 && loan.approvedDate!=null">
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.approvedDate}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Approved Date</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line v-show="loan.progress>=2 && loan.dueDate!=null">
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.dueDate}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Due Date</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item two-line v-show="loan.status==3">
                            <v-list-item-content>
                                <v-list-item-title class="" color="primary">{{loan.updatedAt}}</v-list-item-title>
                                <v-list-item-subtitle class="" color="primary">Closed Date</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card-text>
                <!--<v-card-title class="headline">-->
                <!--MK{{loan.amount}}-->
                <!--</v-card-title>-->
                <!--<v-card-subtitle >-->
                <!--{{loan.firstName}} {{loan.lastName}}-->
                <!--</v-card-subtitle>-->
                <v-divider></v-divider>

                <!--Total Score-->
                <v-card-text class="text-center">
                    <v-progress-circular
                            rotate="-90"
                            size="180"
                            width="25"
                            :value="loan.score"
                            color="primary"

                    >{{loan.score}}%</v-progress-circular>
                </v-card-text>
                <!--Photo-->
                <v-card-text>
                    <v-card outlined >
                        <v-subheader>PHOTO</v-subheader>
                        <v-img :src="loan.photo" alt=""></v-img>
                    </v-card>
                </v-card-text>
                <!--First Name-->
                <v-card-text>
                    <!--<div class="title">First Name </div>-->
                    <v-card outlined>
                        <v-list>
                            <v-subheader>BASIC INFORMATION</v-subheader>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.firstName}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">First Name</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.middleName}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Middle Name</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.lastName}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Last Name</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">+265 {{loan.phoneNumberMobile}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Phone Number Mobile</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">+265 {{loan.phoneNumberWork}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Phone Number Work</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.email}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">E-Mail</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.physicalAddress.name}} {{loan.physicalAddress.box}} {{loan.physicalAddress.location}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Residential Address</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line v-if="loan.nationalId">
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.nationalId" target="_blank">View</v-btn></v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">National Id</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-card-text>
                <!--Workplace Details-->
                <v-card-text>
                    <v-card outlined>
                        <v-list>
                            <v-subheader>WORKPLACE DETAILS</v-subheader>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.position}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Position</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.workAddress.name}} {{loan.workAddress.box}} {{loan.workAddress.location}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Work Address</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.contractDurationDate}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Contract Expiry Date</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.contract" target="_blank">View</v-btn></v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Contract</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{computePayDay(loan.payDay)}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Pay Day</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.paySlip" target="_blank">View</v-btn></v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Pay Slip</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">MK{{loan.gross}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Gross</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">MK{{loan.net}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Net</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line >-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.referenceLetter" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Reference Letter</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                        </v-list>
                    </v-card>
                </v-card-text>

                <!--Guarantors 1/Co-workers 1 -->
                <v-card-text>
                    <v-card outlined >
                        <v-subheader>FIRST GUARANTOR/CO-WORKER</v-subheader>
                        <v-img :src="loan.coWorkers.coWorkerPhotoPath1" alt="">
                        </v-img>
                        <!--<div v-for="(coWorker,index) in loan.coWorkers" :key="index">-->
                        <div class="text-center">
                            <!--<v-avatar size="150" color="primary" tile>-->

                            <!--</v-avatar>-->
                        </div>
                        <v-list>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerFirstName1}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">First Name</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line v-if="(loan.coWorkers.coWorkerMiddleName1)">
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerMiddleName1}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Middle Name</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerLastName1}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Last Name</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberMobile1}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Phone Number Mobile</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberWork1}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Phone Number Work</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPhysicalAddress1.name}} . O. Box {{loan.coWorkers.coWorkerPhysicalAddress1.box}} {{loan.coWorkers.coWorkerPhysicalAddress1.location}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Email</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <!--<v-list-item two-line>-->
                            <!--<v-list-item-content>-->
                            <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPosition1}}</v-list-item-title>-->
                            <!--<v-list-item-subtitle class="" color="primary">Position</v-list-item-subtitle>-->
                            <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerContractDuration1}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Contract Expiry Date</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerNationalIdNumber1}}</v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">National Id Number</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.coWorkers.coWorkerNationalIdPath1" target="_blank">View</v-btn></v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">National Id</v-list-item-subtitle>

                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <!--</div>-->
                    </v-card>
                </v-card-text>
                <!--Guarantors 2/Co-workers 1 -->
                <!--<v-card-text>-->
                    <!--<v-card outlined >-->
                        <!--<v-subheader>SECOND GUARANTOR/CO-WORKER</v-subheader>-->
                        <!--<v-img :src="loan.coWorkers.coWorkerPhotoPath2" alt="">-->
                        <!--</v-img>-->
                        <!--&lt;!&ndash;<div v-for="(coWorker,index) in loan.coWorkers" :key="index">&ndash;&gt;-->
                        <!--<div class="text-center">-->
                            <!--&lt;!&ndash;<v-avatar size="150" color="primary" tile>&ndash;&gt;-->

                            <!--&lt;!&ndash;</v-avatar>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<v-list>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerFirstName2}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">First Name</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line v-if="(loan.coWorkers.coWorkerMiddleName2)">-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerMiddleName2}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Middle Name</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerLastName2}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Last Name</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberMobile2}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Phone Number Mobile</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">+265 {{loan.coWorkers.coWorkerPhoneNumberWork2}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Phone Number Work</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPhysicalAddress2.name}} . O. Box {{loan.coWorkers.coWorkerPhysicalAddress2.box}} {{loan.coWorkers.coWorkerPhysicalAddress2.location}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Email</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--&lt;!&ndash;<v-list-item two-line>&ndash;&gt;-->
                            <!--&lt;!&ndash;<v-list-item-content>&ndash;&gt;-->
                            <!--&lt;!&ndash;<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerPosition2}}</v-list-item-title>&ndash;&gt;-->
                            <!--&lt;!&ndash;<v-list-item-subtitle class="" color="primary">Position</v-list-item-subtitle>&ndash;&gt;-->
                            <!--&lt;!&ndash;</v-list-item-content>&ndash;&gt;-->
                            <!--&lt;!&ndash;</v-list-item>&ndash;&gt;-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerContractDuration2}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Contract Expiry Date</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.coWorkers.coWorkerNationalIdNumber2}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">National Id Number</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.coWorkers.coWorkerNationalIdPath2" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">National Id</v-list-item-subtitle>-->

                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                        <!--</v-list>-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</v-card>-->
                <!--</v-card-text>-->

                <!--Bank Details-->
                <!--<v-card-text>-->
                    <!--<v-card outlined>-->
                        <!--<v-list>-->
                            <!--<v-subheader>BANK DETAILS</v-subheader>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.bankName}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Bank Name</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.bankServiceCenter}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Bank Service Center</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.bankAccountName}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Bank Account Name</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary">{{loan.bankAccountNumber}}</v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Bank Account Number</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line>-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.bankStatement" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Bank Statement</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                        <!--</v-list>-->
                    <!--</v-card>-->
                <!--</v-card-text>-->
                <!--Identifications-->
                <!--<v-card-text>-->
                    <!--<v-card outlined>-->
                        <!--<v-list>-->
                            <!--<v-subheader>IDENTIFICATIONS</v-subheader>-->
                            <!--<v-list-item two-line v-if="loan.nationalId">-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.nationalId" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">National Id</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line v-if="loan.passportId">-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.passportId" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Passport Id</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line v-if="loan.licenceId">-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.licenceId" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Licence Id</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                            <!--<v-list-item two-line v-if="loan.otherId">-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.otherId" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Other Id</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                        <!--</v-list>-->
                    <!--</v-card>-->
                <!--</v-card-text>-->
                <!--Consent-->
                <!--<v-card-text>-->
                    <!--<v-card outlined>-->
                        <!--<v-list>-->
                            <!--<v-subheader>CONSENT</v-subheader>-->
                            <!--<v-list-item two-line >-->
                                <!--<v-list-item-content>-->
                                    <!--<v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" :href="loan.consent" target="_blank">View</v-btn></v-list-item-title>-->
                                    <!--<v-list-item-subtitle class="" color="primary">Consent</v-list-item-subtitle>-->
                                <!--</v-list-item-content>-->
                            <!--</v-list-item>-->
                        <!--</v-list>-->
                    <!--</v-card>-->
                <!--</v-card-text>-->

                <!--Terms and Conditions-->
                <v-card-text>
                    <v-card outlined>
                        <v-list>
                            <v-subheader>TERMS AND CONDITIONS</v-subheader>
                            <v-list-item two-line >
                                <v-list-item-content>
                                    <v-list-item-title class="" color="primary"> <v-btn color="primary" outlined class="elevation-0" @click="termsAndConditionsDialog=true">View</v-btn></v-list-item-title>
                                    <v-list-item-subtitle class="" color="primary">Terms and Conditions</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <v-dialog v-model="termsAndConditionsDialog" width="600">
                            <v-card >
                                <!--<v-card-title>License Agreement</v-card-title>-->
                                <!--<v-card-text>-->
                                <div class="license_agreement pa-5" v-html="loan.terms_and_conditions"></div>
                                <!--</v-card-text>-->
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="termsAndConditionsDialog=false" text>close</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-card>
                </v-card-text>
            </v-card>



        </div>
        <v-layout v-else-if="loanStatus==3">
            Loan not found
        </v-layout>
        <v-layout v-else-if="loanStatus==4">
            Loan failed to load
        </v-layout>
    </v-container>
        <div class="hint" v-if="loanStatus==2 && loan.progress==0">
            <v-list v-if="!validation">
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title  style="color:#FF5252;">{{errorMessage}}</v-list-item-title>
                        <v-list-item-subtitle style="">{{errorSection}} Section</v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-btn  @click="deleteLoan"  class="elevation-0" color="error" dark>delete</v-btn>
                    </v-list-item-action>
                </v-list-item>
            </v-list>
            <div v-else class="submitBtn">
                <div >
                    <v-btn dark elevation="0" color="primary" @click="applyForLoan">Apply for loan</v-btn>
                    <!--<div>Proceed to the next phase</div>-->
                </div>
            </div>
        </div>
        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </div>



</template>

<script>
    import UploadButton from 'vuetify-upload-button'

    export default {
        props:['code'],
        data: () => ({
            el:1,
            amount:5000,
            items:[{
                text:'Dashboard',
                href:'#/dashboard',
                disabled:false
            },{
                text:'Loan Details',
                disabled:true
            }],
            fileSelected:'',
            errorMessage:'',
            errorSection:'',

            terms_and_conditions:false,
            termsAndConditionsDialog:false,

//            consent upload
            consentFile:'',
            consentPath:null,
            consentCheck:null,

//            terms and conditions upload
            termsFile:'',
            termsPath:null,
            termsCheck:null,


            rules: {
                counter: value => value >= 5000 && value <=10000 || 'Between MK5000 and MK10000',
            },
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
            'upload-button':UploadButton

        },
        created(){
            this.$store.dispatch('userEligibility',{
                id:this.$store.getters.getUserId,
                accessToken:this.$store.getters.getAccessToken
            });
            this.$store.dispatch('showLoan',{
                type:'view',
                code:this.code,
                userId:this.$store.getters.getUserId,
                accessToken:this.$store.getters.getAccessToken
            })
        },
        mounted(){


        },
        computed: {
            eligibility:function () {
                return this.$store.getters.getEligibility;
            },
            eligibilityStatus:function () {
                return this.$store.getters.getEligibilityStatus;
            },
            user:function () {
                return this.$store.getters.getUser;
            },
            loan:function () {
                return this.$store.getters.getLoan;
            },
            loanStatus:function () {
                return this.$store.getters.getLoanLoadStatus;
            },
            contractDuration() {
                return this.computeHumanReadable(this.eligibility.contractDuration);

            },
            interest:function () {
                return Math.round(this.amount*0.06);
            },
            amountReceived:function () {
                return Math.round(this.amount-510);
            },
            amountToPay:function () {
                return Math.round(this.amount*1.06 );
            },
            score:function () {
                return this.loan.score>0;
            },
            subscription:function () {
                return this.computeHumanReadable(this.user.subscription);
            },
            contract:function () {
                return this.eligibility.contract;
            },
            validation:function () {
                if(!this.score){
                    this.errorMessage='You need a better score';
                    this.errorSection='Score';
                    return false;
                }else if(!this.subscription){
                    this.errorMessage='Your contract duration is not valid';
                    this.errorSection='Subscription';
                    return false;
                }/*else if(this.consentCheck!==true){
                    this.errorMessage='Upload a signed consent form';
                    this.errorSection='Consent';
                    return false;
                }*/else if(this.terms_and_conditions!==true){
                    this.errorMessage='Accept the terms and conditions';
                    this.errorSection='Terms and conditions';
                    return false;
//                }else if(this.termsCheck!==true){
//                    this.errorMessage='Upload a signed terms and conditions document';
//                    this.errorSection='Terms and conditions';
//                    return false;
                }else
                    return true
            },
            uploadStatus:function () {
                return this.$store.getters.getUploadStatus;
            },
            loansUpdateStatus:function () {
                return this.$store.getters.getLoansUpdateStatus;
            },
            loansDeleteStatus:function () {
                return this.$store.getters.getLoansDeleteStatus;
            },
            contents:function () {
                return this.$store.getters.getContents;
            },
            contentsStatus:function () {
                return this.$store.getters.getContentsLoadStatus;
            },

        },
        watch: {
            uploadStatus:function () {
                switch (this.uploadStatus) {
                    case 1:
                        this.snackbarMessage = "Uploading file.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully uploaded.";
                        this.setCheckStatus(this.fileSelected,true);
                        this.setUploadedFile(this.fileSelected);
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        this.setCheckStatus(this.fileSelected,false);
                        break;
                    case 4:
                        this.snackbarMessage = "Uploading was unsuccessful. Try again.";
                        this.setCheckStatus(this.fileSelected,false);
                        break;
                    case 5:
                        this.snackbarMessage = "Invalid photo extension. Try again.";
                        this.setCheckStatus(this.fileSelected,false);
                        break;
                    case 6:
                        this.snackbarMessage = "Invalid file extension. Try again.";
                        this.setCheckStatus(this.fileSelected,false);
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },
            loansUpdateStatus:function () {
                switch (this.loansUpdateStatus) {
                    case 1:
                        this.snackbarMessage = "Applying for loan.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully applied.";
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Application was unsuccessful. Try again.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;

            },
            loansDeleteStatus:function () {
                switch (this.loansDeleteStatus) {
                    case 1:
                        this.snackbarMessage = "Deleting loan.";
                        break;
                    case 2:
                        this.snackbarMessage = "Successfully deleted.";
                        this.$router.push({name:'dashboard'});
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Deletion failed. Try again.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;

            },

        },
        methods:{
            exportPDF(){
//                window.open('storage/consents/Kunozga-Mlowoka-consent-form-5e77ac22cc644.pdf','_blank');
//                $('#download').click(function () {
//
//                });
                this.$store.dispatch('exportPDF',{
                    code:this.code,
                    accessToken:this.$store.getters.getAccessToken
                })
            },
            applyForLoan(){
                this.$store.dispatch('updateLoan',{
                    type:'apply',
                    code:this.code,
                    consent:this.consentPath,
                    termsAndConditions:this.terms_and_conditions,
                    userId:this.$store.getters.getUserId,
                    accessToken:this.$store.getters.getAccessToken
                })
            },
            consentFileChanged(file){
                this.fileSelected='consent';
                this.consentFile=file;
                this.uploadFile(file,'consent');
            },
            termsFileChanged(file){
                this.fileSelected='terms';
                this.termsFile=file;
                this.uploadFile(file,'terms');
            },
            uploadFile(file,type){
                const reader=new FileReader();
                if (file){
                    reader.readAsDataURL(file);
                    reader.onload=(e)=>{

                        this.$store.dispatch('uploadFile',{
                            name:'Zachangu_consent_form',
                            file:e.target.result,
                            type:type,
                            accessToken:this.$store.getters.getAccessToken
                        })
                    };
                }
            },

            setUploadedFile(fileSelected){
                switch (fileSelected) {
                    case 'consent':
                        this.consentPath=this.$store.getters.getUploadedFile;
                        this.consentFile='';
                        break;
                    case 'terms':
                        this.termsPath=this.$store.getters.getUploadedFile;
                        this.termsFile='';
                        break;
                    default:
                        break;
                }
                this.fileSelected='';
//                this.$refs.button.clear();
            },
            setCheckStatus(fileSelected,status){
                switch (fileSelected) {
                    case 'consent':
                        this.consentCheck=status;
                        break;
                    case 'terms':
                        this.termsCheck=status;
                        break;
                    default:
                        break;
                }
//                this.$refs.button.clear();
            },
            getStatusColor(status){
                switch (status){
                    case 0:
                        return 'warning';
                        break;
                    case 1:
                        return 'success';
                        break;
                    case 2:
                        return 'error';
                        break;
                    case 3:
                        return 'primary';
                        break;
                    default:
                        break;
                }
            },
            getStatus(status){
                switch (status){
                    case 0:
                        return 'Waiting for approval';
                        break;
                    case 1:
                        return 'Active';
                        break;
                    case 2:
                        return 'Due';
                        break;
                    case 3:
                        return 'Closed';
                        break;
                    default:
                        break;
                }
            },
            computeHumanReadable:function(duration){
                let today=(new Date().getTime())/1000;
                let text='';
                duration=duration-today;

//                duration=duration/1000; //seconds
                duration=duration/60; //minutes
                duration=duration/60; //hours
                let days=duration/24; //days
                let months=days/30; //months

                if(months>=1){
                    text=Math.floor(months)===1?'month':'months';
                    return  Math.floor(months)+' '+text;
                }
                else{
                    text=Math.floor(days)===1?'day':'days';
                    return  Math.floor(days)+' '+text;
                }
            },
            computePayDay:function(payDay){
                let day=''
                switch(payDay){
                    case null:
                        return '';
                        break;
                    case 1:
                        day='st';
                        break;
                    case 21:
                        day='st';
                        break;
                    case 31:
                        day='st';
                        break;
                    case 2:
                        return 'nd'
                        break;
                    case 22:
                        return 'nd'
                        break;
                    case 3:
                        day='rd';
                        break;
                    case 23:
                        day='rd';
                        break;
                    default:
                        day='th';
                        break;
                }
                return payDay + day + ' of the month';
            },
            deleteLoan(){
                this.$store.dispatch('destroyLoan',{
                    userId:this.user.id,
                    code:this.loan.code,
                    accessToken:this.$store.getters.getAccessToken
                })
            }

        }

    }
</script>