<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">
    .underline{
        /*text-decoration: underline;*/
        border-bottom: 0.5px solid #3f3f3f;
    }




    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <v-container>
        <v-card flat>
            <v-breadcrumbs :items="items"></v-breadcrumbs>

            <!--<v-card-title class="heading">{{employer.name}}</v-card-title>-->
            <sign-in
                    @toggleLogin="toggleLoginMethod"
                    :employer="employer"
                    v-if="loginOption===true"
            >
            </sign-in>

            <register
                    @toggleLogin="toggleLoginMethod"
                    :employer="employer"
                    v-else
            >
            </register>

            <v-snackbar
                    v-model="snackbar"
                    color="primary"
            >
                {{snackbarMessage}}
            </v-snackbar>
        </v-card>
    </v-container>

</template>

<script>
    import SignIn from '../../components/SignIn.vue';
    import Register from '../../components/Register.vue';


    export default {
        data: () => ({
            loginOption:true,
            snackbar:false,
            snackbarMessage:'',
        }),
        components: {
            'sign-in':SignIn,
            Register
        },
        created(){


        },
        mounted(){

        },
        computed: {
            items:function () {
                return [{
                    text:'Select Employer',
                    href:'#/',
                    disabled:false
                },{
                    text:this.employer.name,
                    disabled:true
                }]
            },
            employer:function () {
                return this.$store.getters.getEmployer;
            }

        },
        watch: {

        },
        methods:{
            toggleLoginMethod(){
                this.loginOption=!this.loginOption;
            }
        }

    }
</script>