<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">
    .navigation{

        nav {
            position: fixed;
            width: 100%;
            padding:12px;
            z-index:1;
            background-color: #262626;
            /*box-shadow:0 2px 3px rgba(0,0,0,0.15);*/
            border-bottom:0.5px solid rgba(0,0,0,0.15);

        .logo_image{
            height: 45px;
            float: left;
            opacity: .9;
        }

        .logo_title{
            /*float: left;*/
            padding: 0 0 0 60px;
            margin: 0;
            opacity: .9;

            h1{
                font-weight: 900;
                font-size: 24pt;
                color:white;
                margin: 0;
                padding: 0;
                line-height: 1.4;
            }

        }

        .profile_icon{
            float:right;
            opacity: .9;
        }

        }
    }

    @media only screen and (min-width: 600px){

    }

    @media only screen and (min-width: 768px){
        .navigation{
        nav {
        .logo_image{
            height: 50px;
            float: left;
        }

        .logo_title{
            /*float: left;*/
            /*font-weight: 900;*/
            padding: 0 0 0 70px;
            margin: 0;

        h1{
            font-size: 25pt;
        }
    }
    }
    }

    }

    @media only screen and (min-width: 960px) {


    }
    @media only screen and (min-width: 1280px) {


    }
</style>

<template>
    <div class="navigation">
        <nav >
            <router-link :to="{ name: 'home'}">
                <img class="logo_image" src="images/logo-1.svg" alt="">
            </router-link>
                <div class="logo_title">
                    <div v-if="userLoginStatus===2" class="profile_icon">
                        <v-btn  fab text small dark color="white" @click="menu=true"><v-icon dark>person</v-icon>
                        </v-btn>
                        <v-dialog v-model="menu" width="300">
                            <v-card>
                                <!--<v-card-text>-->
                                <v-list>
                                    <!--<v-list-item>-->
                                    <!--<v-list-item-title>Profile</v-list-item-title>-->
                                    <!--</v-list-item>-->
                                    <v-list-item two-line v-if="user.admin!==true">
                                        <v-list-item-content>
                                            <v-list-item-title>{{user.firstName}} {{user.middleName}} {{user.lastName}}</v-list-item-title>
                                            <v-list-item-subtitle>{{user.employer.name}} Employee</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-divider></v-divider>
                                    <v-list-item @click="updateDialog=true">
                                        <v-list-item-title>Edit Profile</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="logoutUser">
                                        <v-list-item-title>Logout</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                                <!--</v-card-text>-->
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="updateDialog" max-width="600">
                            <v-card>
                                <v-card-title>Edit Profile</v-card-title>
                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout
                                                wrap

                                        >
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="firstName"
                                                        label="First Name"
                                                        required
                                                        :rules="[rules.required]"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="middleName"
                                                        label="Middle Name"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="lastName"
                                                        label="Last Name"
                                                        required
                                                        :rules="[rules.required]"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="nationalIdNumber"
                                                        label="National ID Number"
                                                        counter
                                                        required
                                                        :rules="[rules.required,rules.nationalIdNumber]"
                                                        maxlength="8"
                                                        outlined
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="email"
                                                        label="E-mail"
                                                        required
                                                        prepend-inner-icon="email"
                                                        :rules="[rules.email,rules.required]"
                                                        outlined
                                                        clearable
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="oldPassword"
                                                        v-on:keyup.enter="signIn"
                                                        label="Old Password"
                                                        :rules="[rules.password]"
                                                        required
                                                        outlined
                                                        :type="showPassword?'text':'password'"
                                                        :append-icon="showPassword?'visibility':'visibility_off'"
                                                        prepend-inner-icon="lock"
                                                        @click:append="showPassword=!showPassword"
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="newPassword"
                                                        v-on:keyup.enter="signIn"
                                                        label="New Password"
                                                        autocomplete="new-password"
                                                        :rules="[rules.password]"
                                                        required
                                                        outlined
                                                        :type="showPassword?'text':'password'"
                                                        :append-icon="showPassword?'visibility':'visibility_off'"
                                                        prepend-inner-icon="lock"
                                                        @click:append="showPassword=!showPassword"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions >
                                    <v-spacer></v-spacer>
                                    <v-btn dark elevation="0" color="primary" :disabled="validation" @click="updateUser">Edit</v-btn>
                                    <v-btn text elevation="0" color="primary" @click="updateDialog=false">Cancel</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </div>
                    <h1>ZACHANGU</h1>

                </div>


        </nav>
        <!--<v-divider></v-divider>-->

        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </div>
</template>

<script>


    export default {
        data: () => ({
            menu:false,
            updateDialog:false,
            firstName:'',
            middleName:'',
            lastName:'',
            email:'',
            nationalIdNumber:'',
            oldPassword:'',
            newPassword:'',
            showPassword:false,
            rules: {
                required: value => value!=='' || 'Cannot be empty',
                password: value => (value||'').length >= 8 || 'Atlest 8 characters',
                nationalIdNumber: value => (value||'').length === 8 || 'Invalid National ID',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                },
            },
            snackbar:false,
            snackbarMessage:'',
         
        }),
        components: {

        },
        created(){
            if(this.$store.getters.getUserLoginStatus===2){
                this.firstName=this.user.firstName;
                this.middleName=this.user.middleName;
                this.lastName=this.user.lastName;
                this.email=this.user.email;
                this.nationalIdNumber=this.user.nationalIdNumber;
                this.oldPassword='';
                this.newPassword='';
            }
//            window.addEventListener('scroll',this.handleScroll);
//            this.handleScroll(null);
        },
        mounted(){

        },
        computed: {
            user:function () {
                return this.$store.getters.getUser;
            },
            userLoginStatus:function () {
                return this.$store.getters.getUserLoginStatus;
            },
            validation:function () {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

                if ((this.firstName).length===0  || (this.lastName).length===0  )
                    return true;
                else if(!pattern.test(this.email))
                    return true;
                else if((this.nationalIdNumber).length<8)
                    return true;
                else if((this.newPassword).length>=8){
                    if((this.oldPassword).length<8)
                        return true;
                }
                else
                    return false
            },
            usersUpdateStatus:function () {
                return this.$store.getters.getUsersUpdateStatus;
            }

        },
        watch: {
            usersUpdateStatus:function () {
                switch (this.usersUpdateStatus) {
                    case 1:
                        this.snackbarMessage = "Updating user.";
                        break;
                    case 2:
                        let user=this.$store.getters.getUser;
                        this.$cookies.set('user', user, {expires: '1d'});
                        this.menu = false;
                        this.updateDialog = false;
                        this.snackbarMessage = "Updated successfully.";
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Some fields missing.";
                        break;
                    case 5:
                        this.snackbarMessage = "Invalid old previous password";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },
            userLoginStatus:function () {
               if(this.userLoginStatus===2){
                   this.firstName=this.user.firstName;
                   this.middleName=this.user.middleName;
                   this.lastName=this.user.lastName;
                   this.email=this.user.email;
                   this.nationalIdNumber=this.user.nationalIdNumber;
                   this.oldPassword='';
                   this.newPassword='';
               }
            }
        },
        methods:{
            updateUser(){
                this.$store.dispatch('updateUser',{
                    id:this.user.id,
                    type:'normal',
                    firstName:this.firstName,
                    middleName:this.middleName,
                    lastName:this.lastName,
                    nationalIdNumber:this.nationalIdNumber,
                    newEmail:this.email,
                    oldEmail:this.user.email,
                    newPassword:this.newPassword,
                    oldPassword:this.oldPassword,
                    accessToken:this.$store.getters.getAccessToken
                });
            },
            logoutUser(){
                this.$store.dispatch('logoutUser');
                this.$cookies.remove('user');
                this.$store.dispatch('selectedEmployer',{
                    employer:[]
                });
                this.menu=false;
                this.$router.push('/');
            },
//            handleScroll(event){
//                let nav=$('.navigation nav');
//                let height=nav.height();
//                let scrollTop=$(window).scrollTop();
//
//                if (scrollTop >= height) {
//                    nav.css({
//                        'position': 'fixed',
//                        'z-index':999999,
//                        'width':'100%'
//                    });
//                } else {
//                    nav.css({
//                        'position': 'relative',
//                    });
//                }
//            },
        }

    }
</script>